<h3>Command line arguments</h3>
<p>Вы можете получить доступ к аргументам из командной строки используя глобальный объект <code>process</code>. Объект содержит свойство <code>argv</code>, которое является массивом и включает в себя всю командную строку.</p>
<p>Пример программы: <code>console.log(process.argv);</code></p>
<p>Пример запуста программы с аргументами(A, B, C): <code>node your_programm_name.js A B C</code></p>
<p>Результат выполнения: <code>[ 'node', '/path/to/your/program.js', 'A', 'B', 'C' ]</code></p>