 <h3>Оголошення і ініціалізація змінних</h3>
 <p>Щоб задати змінну, вона оголошується з використанням ключового слова — інструкції <code>var</code>:</p>
 <pre>var a; // оголошення однієї змінної на рядок
 var b, c;  // оголошення декількох змінних на рядок — можливе, ризиковане</pre>
 <p>Оголошення змінної можна поєднувати з її ініціалізацією, тобто наданням їй початкового значення:</p>
 <pre>var b = a, c = 1;</pre>
 <p>Якщо початкове значення не задано в інструкції var то змінна оголошується, але її початкове значення залишається невизначеним (<code>undefined</code>)</p>