<p>Если попытаться прочитать значение необъявленной переменной, JavaScript
сгенерирует сообщение об ошибке. Если присвоить значение переменной, не
объявленной с помощью инструкции <strong>var</strong>, JavaScript неявно объявит эту переменную за вас. Однако переменные, объявленные таким образом, всегда создаются как глобальные, даже если они работают только в теле функции. Чтобы не
создавать глобальную переменную (или не использовать существующую), когда
достаточно локальной переменной для отдельной функции, всегда помещайте
инструкцию var в тело функции. Лучше всего объявлять с ключевым словом var
все переменные – и глобальные, и локальные.</p>
<h3>Область видимости (scope)</h3>
<p>Часть кода, для которого эта переменная определена. Глобальная переменная определена для всей JavaScript кода (файла/модуля). Переменные, объявленные внутри функции, определены только в ее теле. Они называются локальными и имеют локальную область видимости. Параметры функций также считаются локальными переменными, определенными только в теле этой функции.
Внутри тела функции локальная переменная имеет преимущество перед глобальной переменной с тем же именем. Если объявить локальную переменную
или параметр функции с тем же именем, что у глобальной переменной, то фактически глобальная переменная будет скрыта.</p>
<p>Объявляя переменные с глобальной областью видимости, инструкцию <strong>var</strong> можно опустить, но при объявлении локальных переменных она необходима.</p>
<p>Определения функций могут быть вложенными. Каждая функция имеет собственную локальную область видимости, поэтому может быть несколько вложенных уровней локальных областей видимости.</p>
<code>var some = 'global';</code><br/>
<code>function foo(){</code><br/>
<code>&thinsp;console.log(some);</code><br/>
<code>&thinsp;var some = 'local';</code><br/>
<code>&thinsp;console.log(some);</code><br/>
<code>}</code><br/>
<code>foo();</code><br/>

<h3>Scope chain - цепочка областей видимости</h3>
<p>Когда JavaScript коду требуется найти значение переменной x, он начинает поиск в первом (наиболее
глубоком) объекте цепочки. Если в этом объекте отыскивается свойство с именем x, то используется значение этого свойства. Если в первом объекте не удается найти свойство с именем x, то JavaScript продолжает поиск в следующем объекте цепочки. Если во втором объекте тоже не найдено свойство с именем x, поиск продолжается в следующем объекте, и т. д.
В JavaScript-коде верхнего уровня (в коде, не содержащемся ни в одном из определений функций), цепочка областей видимости состоит только из глобального
объекта. Все переменные разыскиваются в этом объекте. Если переменная не су
ществует, то ее значение равно <strong>undefined</strong>.</p>