<h2>Глобальні та локальні змінні</h2>
<p>Глобальні змінні — це ті, що доступні з будь-якого місця вашої програми. Їх використання небажане у принципі, тому що воно створює ризик конфлікту імен: наприклад уявіть, що ви оголосили глобальну змінну Core, не підозрюючи, що в середовищі виконання таку змінну вже задано. Оголосивши власну Core глобально, ви знищуєте ту, що існувала до цього — результат буде непередбачуваним. Що робить подібні дії вкрай ризикованими, але разом з тим і дає цікаві наслідки: наприклад, можна адаптувати середовище виконання до вашого коду, якщо ви маєте певні особливі потреби. Наприклад, можна перевизначати методи глобальних об'єктів, щоб згладжувати відмінності у різних середовищах виконання і писати код, який буде виконуватися у різних середовищах. Приклад буде нижче.</p>
<p>Отже, якщо спробувати прочитати значення неоголошеної змінної, JavaScript згенерує повідомлення про помилку типу ReferenceError. Якщо привласнити значення змінної, що не була оголошена за допомогою інструкції <strong>var</strong>, то JavaScript неявним чином оголосить цю змінну за вас. Однак змінні, оголошені таким чином, завжди створюються як глобальні, навіть якщо вони працюють тільки в тілі вашої функції. Тому, коли для окремої функції досить локальної змінної, завжди розміщуйте інструкцію var в тілі функції, щоб не створювати зайву глобальну змінну або не використовувати глобальну змінну, що вже існує. Найкраще оголошувати з ключовим словом var всі змінні — і глобальні, і локальні.</p>

<h3>Область видимости (scope)</h3>

<p>Область видимости змінної — це та частина коду, для якого дана змінна є визначеною. Глобальна змінна визначена для всього JavaScript коду, або файлу, модуля і т.п. — тобто визначена глобально, і має глобальну область видимости. Змінна, оголошена усередині функції, визначена тільки в її тілі. Такі змінні звуться локальними і мають локальну область видимости. Параметри функцій також є локальними змінними, визначеними тільки в тілі цієї функції. Усередині тіла функції локальна змінна має перевагу перед глобальними змінними з тим же ім'ям. Якщо оголосити локальну змінну або параметр функції з тим же ім'ям, що і у глобальної змінної, то глобальна змінна буде фактично прихована від використання у цій функції, і тільки у ній.</p>

<p>Оголошуючи змінні з глобальною областю видимости, інструкцію var можна опустити, але при оголошенні локальних змінних вона необхідна.</p>

<p>Визначення функцій можуть бути вкладеними. Кожна функція має власну локальну область видимости, тому може бути кілька вкладених рівнів локальних областей видимости.</p>

<pre>var some = 'global';
function foo(){
console.log(some);
var some = 'local';
console.log(some);
}

foo();</pre>

<h3>Scope chain — ланцюг областей видимости</h3>
<p>Це саме той механізм, завдяки якому локальні змінні перекривають глобальні змінні з тими ж іменами.</p>
<p>Коли JavaScript-кодові треба знайти значення змінної <code>x</code>, він починає пошук у першому (найбільш глибокому) об'єкті ланцюжка. Якщо в цьому об'єкті є властивість з ім'ям <code>x</code>, то використовується значення цієї властивості. Якщо в першому об'єкті не вдається знайти властивість з ім'ям <code>x</code>, то JavaScript продовжує пошук в наступному об'єкті ланцюжка. Якщо у другому об'єкті теж не знайдено властивість з ім'ям <code>x</code>, пошук триває в наступному об'єкті, і т. д. В JavaScript-коді верхнього рівня (в коді, не що є в одному з визначень функцій), ланцюжок областей видимости складається тільки з глобального об'єкту. Всі змінні розшукуються в цьому об'єкті. Якщо змінна не знаходиться і тут, то її значення дорівнює <strong>undefined</strong>.</p>
