<h3>Отзывчивость интерфейса</h3>
<p>Интерфейс веб-сайта должен работать очень быстро. Длительное ожидание загрузки страницы раздражает. Позаботьтесь о том, чтобы сайт загружался максимально быстро, даже на медленных интернет-каналах.
Так же отзывчивость означает некоторую постоянную форму взаимодействия с пользователем. Интерфейс должен информировать пользователя о происходящем. Например, вы нажимаете кнопку отправки сообщения. Если сообщение отправляется посредством AJAX, было бы разумно выводить состояния отправки, например «Отправка...», «Сообщение отправлено» или «Ошибка отправки сообщения». Когда пользователь видит процесс выполнения, он чувствует себя спокойнее. Особенно это заметно на медленных интернет-каналах.</p>
<h4>Способы оптимизации</h4>
<ul>
	<li>Подключение скриптов в приложение</li>
	<li>Оптимизация стилей: конкатицация, минификация, использование препроцессоров</li>
	<li>Оптимизация изображений</li>
	<li>Использование CSS спрайтов</li>
	<li>Использование шаблонов и паттернов JavaScript</li>
	<li>Сжатие, конкатинация и минификация JavaScript</li>
	<li>Использование профайлеров</li>
</ul>
<p>Книги про оптимизации: Стоян Стефанов «JavaScript: Шаблоны», Николас Закас «JavaScript: Оптимизация производительности».</p>
<p>Рекомендации по увеличению производительности <a href="https://xakep.ru/2014/07/22/speedup-client-javascript/">&gt;</a></p>
<p>Инструменты для анализа и оптимизации клиентской производительности <a href="http://webperformance.ru/tools/">&gt;</a></p>
<p>Профилирование в <a href="http://habrahabr.ru/post/149053/">Google Chrome</a>, <a href="http://msdn.microsoft.com/en-us/library/ie/dn255009%28v=vs.85%29.aspx">Internet Explorer 11</a></p>