<h2>Вирази</h2>
<p>Вираз — це фраза на мові JavaScript, яка може бути обчислена інтерпретатором для отримання значення. Найпростіші вирази — це літерали або імена змінних, наприклад:</p>
<pre>
1.7 // Числовий літерал
"JavaScript is fun!" // Рядковий літерал
true // Логічний літерал
null // Літерал значення null
/java/ // Літерал регулярного виразу
{x: 2, y: 2} // Об'єктний літерал
[2,3,5,7,11,13,17,19] // Літерал масиву
function (x) {return x * x;} // Функціональний літерал
i // Змінна i
sum // Змінна sum
</pre>
<p>Шляхом об'єднання простих виразів можуть створюватися складніші, наприклад:</p>
<pre>i + 1.7</pre>
<p>Значення цього виразу визначається шляхом додавання значень двох більш простих виразів. Знак <code>+</code> в цьому прикладі - це оператор, який об'єднує два вирази в одне більш складне. Іншим оператором є <code>-</code> - (мінус), об'єднуючий вираження шляхом віднімання. Наприклад:</p>
<pre>(i + 1.7) - sum</pre>
