<p><strong>Выражения</strong></p>
<p>Выражение – это фраза языка JavaScript, которая может быть вычислена интерпретатором для получения значения. Простейшие выражения – это литералы
или имена переменных, например:</p>
<p>
	<code>1.7 // Числовой литерал</code>
	<br />
	<code>"JavaScript is fun!" // Строковый литерал</code>
	<br />
	<code>true // Логический литерал</code>
	<br />
	<code>null // Литерал значения null</code>
	<br />
	<code>/java/ // Литерал регулярного выражения</code>
	<br />
	<code>{ x:2, y:2 } // Объектный литерал</code>
	<br />
	<code>[2,3,5,7,11,13,17,19] // Литерал массива</code>
	<br />
	<code>function(x){return x*x;} // Функциональный литерал</code>
	<br />
	<code>i // Переменная i</code>
	<br />
	<code>sum // Переменная sum</code>
</p>
<p>Путем объединения простых выражений
могут создаваться более сложные выражения. Например: <br /><code>i + 1.7</code></p>
<p>Значение этого выражения определяется путем сложения значений двух более
простых выражений. Знак <code>+</code> в этом примере – это оператор, объединяющий два
выражения в одно более сложное. Другим оператором является <code>-</code> (минус), объединяющий выражения путем вычитания. Например:
<code>(i + 1.7) - sum</code></p>