<h3>Инструкции</h3>
<p><strong>Инструкции-выражения</strong></p>
<p>Простейший вид инструкций в JavaScript – это выражения, приводящие к некоторым динамическим действиям. 
Основная категория инструкций-выражений – это инструкции присваивания. Например: <br />
<code>s = "Привет " + name;</code>
<br />
<code>i *= 3;</code>
<br />
<code>counter++;</code>
<br />
<code>delete o.x;</code><br />
Каждая строка этих примерах завершается точкой с запятой.</p>
<p><strong>Составные инструкции</strong> - практически не используется.</p>
<p>В JavaScript имеется также возможность объединения
нескольких инструкций в одну инструкцию или в блок инструкций. Это делается простым заключением любого количества инструкций в фигурные скобки.
Таким образом, следующие строки рассматриваются как одна инструкция и могут использоваться везде, где интерпретатор JavaScript требует наличия единственной инструкции:
<br />
<code>{</code>
<br />
<code>&nbsp;&nbsp;x = Math.PI;</code>
<br />
<code>&nbsp;&nbsp;cx = Math.cos(x);</code>
<br />
<code>&nbsp;&nbsp;alert("cos(" + x + ") = " + cx);</code>
<br />
<code>}</code>
<br />

Обратите внимание, что хотя блок инструкций действует как одна инструкция,
он не завершается точкой с запятой. Отдельные инструкции внутри блока завершаются точками с запятой, однако сам блок – нет.</p>
<ul>
	<li>
		<strong>Инструкция if / Инструкция else if</strong>
		<p>
		Инструкция if – это базовая управляющая инструкция, позволяющая интерпретатору JavaScript принимать решения или, точнее, исполнять инструкции
в зависимости от условий
<br />
<code>if (выражение)</code>
<br />
<code>&nbsp;&nbsp;инструкция</code>
<br />

Конструкцию else, выполняется в тех случаях, когда выражение равно false. Ее синтаксис:
<br />
<code>if (выражение)</code>
<br />
<code>&nbsp;&nbsp;инструкция1</code>
<br />
<code>else</code>
<br />
<code>&nbsp;&nbsp;инструкция2</code>
<br></br>

Инструкция else if
<br />
<code>if (n == 1) {} // Исполняем блок кода 1</code>
<br />
<code>else if (n == 2) {} // Исполняем блок кода 2</code>
<br />
<code>else if (n == 3) {} // Исполняем блок кода 3</code>
<br />
<code>else {} // Если все остальные условия else не выполняются, исполняем блок 4</code>
		</p>
	</li>
	<li>
		<strong>Инструкция switch</strong>
		<p>Синтаксис: <br />
		<code>switch(n) {</code>
		<br />
		<code>&nbsp;&nbsp;case 1: // Выполняется, если n == 1</code>
		<br />
		<code>&nbsp;&nbsp;&nbsp;&nbsp;// Исполняем блок кода 1</code>
		<br />
		<code>&nbsp;&nbsp;&nbsp;&nbsp;break; // Здесь останавливаемся</code>
		<br />
		<code>&nbsp;&nbsp;case 2: // Выполняется, если n == 2</code>
		<br />
		<code>&nbsp;&nbsp;&nbsp;&nbsp;// Исполняем блок кода 2.</code>
		<br />
		<code>&nbsp;&nbsp;&nbsp;&nbsp;break; // Здесь останавливаемся</code>
		<br />
		<code>&nbsp;&nbsp;case 3: // Выполняется, если n == 3</code>
		<br />
		<code>&nbsp;&nbsp;&nbsp;&nbsp;// Исполняем блок кода 3.</code>
		<br />
		<code>&nbsp;&nbsp;&nbsp;&nbsp;break; // Здесь останавливаемся</code>
		<br />
		<code>&nbsp;&nbsp;default: // Если все остальное не подходит...</code>
		<br />
		<code>&nbsp;&nbsp;&nbsp;&nbsp;// Исполняем блок кода 4.</code>
		<br />
		<code>&nbsp;&nbsp;&nbsp;&nbsp;break; // Здесь останавливаемся</code>
		<br />
		<code>}</code>
		<br />
Обратите внимание на ключевое слово break в конце каждого блока case. Инструкция break приводит к передаче управления
в конец инструкции switch или цикла. Конструкции case в инструкции switch задают только начальную точку исполняемого кода, но не задают никаких конечных точек. 
В случае отсутствия инструкций break инструкция switch начинает
исполнение блока кода с метки case, соответствующей значению выражения,
и продолжает исполнение до тех пор, пока не дойдет до конца блока.
<br />
Если метка default: отсутствует, инструкция switch полностью пропускается. Обратите внимание, что в предыдущих примерах метка default: указана
в конце тела инструкции switch после всех меток case.</p>
	</li>
	<li>
		<strong>Инструкция while</strong>
		<p>Так же как инструкция if является базовой управляющей инструкцией, позволяющей интерпретатору JavaScript принимать решения, инструкция while – это
базовая инструкция, позволяющая JavaScript выполнять повторяющиеся действия. Она имеет следующий синтаксис: <br />
<code>while (выражение)</code>
<br />
<code>инструкция</code>
<br />
Инструкция while начинает работу с вычисления выражения. Если оно равно
false, интерпретатор JavaScript переходит к следующей инструкции программы, а если true, то исполняется инструкция, образующая тело цикла, и выражение вычисляется снова. 
И опять, если значение равно false, интерпретатор JavaScript переходит к следующей инструкции программы, в противном случае он
исполняет инструкцию снова. Цикл продолжается, пока выражение не станет
равно false, тогда инструкция while завершит работу и JavaScript пойдет дальше. С помощью синтаксиса <code>while(true)</code> можно записать бесконечный цикл.</p>
	</li>
	<li>
		<strong>Цикл do/while</strong>
		<p>Цикл do/while во многом похож на цикл while, за исключением того, что выражение цикла проверяется в конце, а не в начале цикла. Это значит, что тело цикла
всегда исполняется хотя бы один раз. Синтаксис этого предложения таков: <br />
<code>do</code>
<br />
<code>инструкция</code>
<br />
<code>while (выражение);</code>
</p>
	</li>
	<li>
		<strong>Инструкция for</strong>
		<p>Синтаксис цикла for: <br />
		<code>for(инициализация; проверка; инкремент)</code>
		<br />
		<code>инструкция</code>
		<br />

Инициализация, проверка и обновление – это три ключевых операции, выполняемых с переменной цикла; инструкция for делает эти три шага явной частью
синтаксиса цикла. Это особенно облегчает понимание действий, выполняемых
циклом for, и предотвращает такие ошибки, как пропуск инициализации или
инкрементирования переменной цикла.</p>
	</li>
	<li>
		<strong>Инструкция for/in</strong>
		<p>Синтаксис: <br />
		<code>for (переменная in объект)</code>
		<br />
		<code>инструкция</code>
		<br />
Здесь переменная должна быть либо именем переменной, либо инструкцией var,
объявляющей переменную, либо элементом массива, либо свойством объекта
(т. е. должна быть чем-то, что может находиться левой части выражения присваивания). Параметр объект – это имя объекта или выражение, 
результатом которого является объект. И как обычно, инструкция – это инструкция или блок инструкций, образующих тело цикла.</p>
	</li>
	<li>
		<strong>Инструкция break</strong>
		<p>Инструкция break приводит к немедленному выходу из самого внутреннего цикла или инструкции switch.
В циклах она обычно используется для преждевременного выхода в тех случаях, когда по какой-либо причине отпала необходимость доводить
выполнение цикла до конца. Когда в цикле имеются сложные условия выхода,
часто проще реализовать некоторые из этих условий с помощью инструкции
break, а не пытаться включить их все в одно выражение цикла.
<br />
<code>for(i = 0; i < a.length; i++) {</code>
<br />
<code>&nbsp;&nbsp;if (a[i] == target)</code>
<br />
<code>&nbsp;&nbsp;break;</code>
<br />
<code>}</code>
</p>
	</li>
	<li>
		<strong>Инструкция continue</strong>
		<p>Инструкция continue схожа с инструкцией break. Однако вместо выхода из цикла
continue запускает новую итерацию цикла</p>
	</li>
	<li>
		<strong>Инструкция var</strong>
		<p>Инструкция var позволяет явно объявить одну или несколько переменных. Инструкция имеет следующий синтаксис: <br />
<code>var имя_1 [ = значение_1] [ ,..., имя_n [= значение_n]]</code><br />
За ключевым словом var следует список объявляемых переменных через запятую; 
каждая переменная в списке может иметь специальное выражениеини-циализатор, указывающее ее начальное значение. Например: <br />
<code>var i;</code>
<br />
<code>var j = 0;</code>
<br />
<code>var p, q;</code>
<br />
<code>var greeting = "hello" + name;</code>
<br />
<code>var x = 2.34, y = Math.cos(0.75), r, theta;</code>
<br />
Инструкция var определяет каждую из перечисленных переменных путем создания свойства с этим именем в объекте вызова функции, в которой она находится,
или в глобальном объекте, если объявление находится не в теле функции. Свойство или свойства, создаваемые с помощью инструкции var, не могут быть удалены оператором delete.</p>
	</li>
	<li>
		<strong>Инструкция function</strong>
		<p>Инструкция function в JavaScript определяет функцию. Она имеет следующий
синтаксис: <br />
<code>function имя_функции([арг1 [,арг2 [..., аргn]]]) {</code>
<br />
<code>&nbsp;&nbsp;инструкции</code>
<br />
<code>}</code>
<br />
Здесь имя_функции – это имя определяемой функции. Оно должно быть идентификатором, а не строкой или выражением. 
За именем функции следует заключенный в скобки список имен аргументов, разделенных запятыми. 
Эти идентификаторы могут использоваться в теле функции для ссылки на значения аргументов, переданных при вызове функции.
<br />
Тело функции состоит из произвольного числа JavaScript-инструкций, заключенных в фигурные скобки. Эти инструкции не исполняются при определении
функции. Они компилируются и связываются с новым объектом функции для
исполнения при ее вызове с помощью оператора вызова (). Обратите внимание,
что фигурные скобки – это обязательная часть инструкции function. В отличие
от блоков инструкций в циклах while и других конструкциях, тело функции требует фигурных скобок, даже если оно состоит только из одной инструкции.</p>
	</li>
	<li>
		<strong>Инструкция return</strong>
		<p>Инструкция return может располагаться только в теле функции. Присутствие ее
в любом другом месте является синтаксической ошибкой. Когда выполняется
инструкция return, вычисляется выражение и его значение возвращается в качестве значения функции. Инструкция return прекращает исполнение функции,
даже если в теле функции остались другие инструкции. Инструкция return используется для возвращения значения следующим образом:
<br />
<code>function square(x) { return x*x; }</code>
<br />
Инструкция return может также использоваться без выражения, тогда она просто прерывает исполнение функции, не возвращая значение.
Если в функции выполняется инструкция return без выражения или если выполнение функции прекращается по причине достижения конца тела функции, значение выражения вызова функции оказывается неопределенным (undefined).</p>
	</li>
	<li>
		<strong>Инструкция throw</strong>
		<p>Исключение – это сигнал, указывающий на возникновение какой-либо исключительной ситуации или ошибки. Генерация исключения (throw) – это способ
просигнализировать о такой ошибке или исключительной ситуации. Перехва'
тить исключение (catch), значит, обработать его, т. е. предпринять действия,
необходимые или подходящие для восстановления после исключения. В JavaScript исключения генерируются в тех случаях, когда возникает ошибка времени выполнения, тогда программа явно генерирует его с помощью инструкции
throw. Исключения перехватываются с помощью инструкции try/catch/finally.
Инструкция throw имеет следующий синтаксис: <br />
<code>throw выражение;</code><br />
Результатом выражения может быть значение любого типа. Однако обычно это
объект Error или экземпляр одного из подклассов Error. Также бывает удобно использовать в качестве выражения строку, содержащую сообщение об ошибке
или числовое значение, обозначающее некоторый код ошибки. Вот пример кода,
в котором инструкция throw применяется для генерации исключения: <br />
<code>function factorial(x) {</code>
<br />
<code>&nbsp;&nbsp;// Если входной аргумент не является допустимым, генерируем исключение!</code>
<br />
<code>&nbsp;&nbsp;if (x < 0) throw new Error("x не может быть отрицательным");</code>
<br />
<code>&nbsp;&nbsp;// В противном случае вычисляем значение и нормальным образом выходим из функции</code>
<br />
<code>&nbsp;&nbsp;for(var f = 1; x > 1; f *= x, x--) /* пустое тело цикла */ ;</code>
<br />
<code>&nbsp;&nbsp;return f;</code>
<br />
<code>}</code>
<br />
Когда генерируется исключение, интерпретатор JavaScript немедленно прерывает нормальное исполнение программы и переходит к ближайшему2 обработчику исключений. В обработчиках исключений используется конструкция catch
инструкции try/catch/finally, описание которой приведено в следующем разделе. Если блок кода, в котором возникло исключение, не имеет соответствующей
конструкции catch, интерпретатор анализирует следующий внешний блок кода и проверяет, связан ли с ним обработчик исключений. Это продолжается до тех
пор, пока обработчик не будет найден. Если исключение генерируется в функции, не содержащей инструкции try/catch/finally, 
предназначенной для его обработки, то исключение распространяется на код, вызвавший функцию. Так исключения распространяются по лексической структуре методов JavaScript
вверх по стеку вызовов. Если обработчик исключения так и не будет найден, исключение рассматривается как ошибка и о ней сообщается пользователю.</p>
	</li>
	<li>
		<strong>Инструкция try/catch/finally</strong>
		<p>Инструкция try/catch/finally реализует механизм обработки исключений в JavaScript. Конструкция try в этой инструкции просто определяет блок кода, в котором обрабатываются исключения. За блоком try следует конструкция catch
с блоком инструкций, вызываемых, когда где-либо в блоке try возникает исключение. За конструкцией catch следует блок finally, содержащий код зачистки,
который гарантированно выполняется независимо от того, что происходит в блоке try. И блок catch, и блок finally не являются обязательными, однако после
блока try должен обязательно присутствовать хотя бы один из них. Блоки try,
catch и finally начинаются и заканчиваются фигурными скобками. Это обязательная часть синтаксиса и она не может быть опущена, даже если между ними
содержится только одна инструкция. <br />
<code>try {</code>
<br />
<code>// ...</code>
<br />
<code>} catch(error) {</code>
<br />
<code>// ...</code>
<br />
<code>} finally {</code>
<br />
<code>// ...</code>
<br />
<code>}</code>
<br />
try - Обычно этот код без сбоев работает от начала до конца. Но в какой-то момент в нем может генерироваться исключение либо непосредственно с помощью инструкции throw, либо косвенно вызовом метода, генерирующего исключение.
catch - Инструкции в этом блоке выполняются тогда и только тогда, когда в блоке try генерируется исключение. Эти инструкции могут использовать локальную переменную e, ссылающуюся на объект Error или на другое значение, указанное в инструкции throw. Этот блок может либо каким-либо образом обработать исключение, либо проигнорировать его, делая что-то другое, либо заново сгенерировать исключение с помощью инструкции throw.
finally - Этот блок содержит инструкции, которые выполняются всегда, независимо от того,
что произошло в блоке try. Они выполняются, если блок try прерван
1) нормальным образом, достигнув конца блока
2) из-за инструкции break, continue или return
3) с исключением, обработанным приведенным ранее блоком catch
4) с неперехваченным исключением, которое продолжает свое распространение на более высокие уровни
</p>
	</li>
</ul>
