<h3>Оператори</h3>

<h3>Арифметичні оператори</h3>
<ul>
	<li>
		<strong>Додавання (+)</strong>
		<p>Оператор «плюс» складає числові операнди або виконує конкатенацію рядків. Якщо одним з операндів є рядок, другий операнд перетворюється в рядок і виконується конкатенація. Операнди-об'єкти перетворяться в числа або рядки, які можуть бути складені (або конкатеновані).
		Перетворення виконується за допомогою методів <code>valueOf()</code> та/або toString().</p>
	</li>
	<li>
		<strong>Віднімання (-)</strong>
		<p>Коли «мінус» використовується в якості двомісного оператора, він виконує віднімання другого операнда з першого. Якщо вказані нечислові операнди, то оператор намагається перетворити їх в числа.</p>
	</li>
	<li>
		<strong>Множення (*)</strong>
		<p>Оператор * перемножує два свої операнди. Нечислові операнди він намагається перетворити в числа.</p>
	</li>
	<li>
		<strong>Ділення (/)</strong>
		<p>Оператор / ділить перший операнд на другий. Нечислові операнди він намагається перетворити в числа. У JavaScript всі числа дійсні, тому результатом будь-якого ділення є значення з плаваючою крапкою. Результат ділення на нуль дає плюс чи мінус нескінченність, а 0/0 дає NaN.</p>
	</li>
	<li>
		<strong>Ділення по модулю (%)</strong>
		<p>Оператор % обчислює залишок, від при цілочисленного ділення першого операнда на другий. Якщо задано нечислові операнди, то оператор намагається перетворити їх в числа. Знак результату збігається зі знаком першого операнду, наприклад <code>5 % 2</code> дає <code>1</code>, а <code>-5 % 2 = -1</code>. Оператор ділення по модулю зазвичай застосовується до цілих операндів, але працює і для дійсних значень. Наприклад, <code>-4.3 % 2.1</code> дає результат -0.1.</p>
	</li>
	<li>
		<strong>Унарний мінус (-)</strong>
		<p>Коли мінус використовується як унарний оператора, він вказується перед єдиним операндом і виконує унарна операцію зміни знака. Іншими словами, він перетворює позитивне значення в негативне, і навпаки. Якщо операнд не є числом, цей оператор намагається перетворити його в число.</p>
	</li>
	<li>
		<strong>Унарний плюс (+)</strong>
		<p>Для симетрії з оператором «унарний мінус» в JavaScript також є оператор «унарний плюс». За допомогою цього оператора можна явно задати знак числових літералів, якщо ви вважаєте, що це зробить текст програми більш зрозумілим:
<pre>var p = +1000000;</pre>
<p>У такому коді оператор «плюс» нічого не робить; результатом його роботи є значення його аргументу.
Однак нечислові аргументи він перетворює в числа. Якщо аргумент не може бути перетворений, повертається NaN.</p>
</p>
	</li>
	<li>
		<strong>Інкремент (++)</strong>
		<p>Цей оператор інкрементує, тобто збільшує на одиницю свій єдиний операнд, який має бути змінною, елементом масиву або властивістю об'єкта. Якщо операнд не є числом, оператор спочатку намагається перетворити його в число.</p>
<p>
Точна поведінка цього оператора залежить від його положення по відношенню до операнда. Якщо поставити його перед операндом (префіксний оператор інкремента), то до операнду додається 1, а результатом є збільшене значення операнда.</p>

<p>Якщо ж він розміщується після операнда (постфіксний оператор інкремента), то до операнду додається 1,
проте результатом є первинне значення операнда. Якщо збільшуване значення не є числом, воно в процесі обчислення перетворюється в число. Наприклад, наступний код робить змінні <code>i</code> та <code>j</code> рівними 2: </p>
<pre>i = 1;
j = ++i;</pre>
А цей встановлює i в 2, а j в 1: <br />
<pre>i = 1;
j = i++;</pre>

	</li>
	<li>
		<strong>Декремент (--)</strong>
		<p>Цей оператор декрементує (тобто зменшує на 1) свій єдиний числовий операнд, який може бути  змінною, елементом масиву або властивістю об'єкта. Якщо операнд не є числом, оператор спочатку намагається перетворити його в число. Як і для оператора ++, точна поведінка оператора - залежить від його положення щодо операнда. Будучи поставленим перед операндом, він зменшує операнд і повертає зменшене значення, після операнда — зменшує операнд, але повертає первинне значення.</p>
	</li>
</ul>

<h3>Строкові оператори</h3>
<p>Оператор + додає, тобто виконує конкатенацію двох строкових операндів. Іншими словами, створює новий рядок, що складається з першого рядка, за якою слідує другий рядок. Так, наступне вираз дорівнює рядку "hello there":</p>
<pre>"hello" + " " + "there"</pre>

<p>Наступні інструкції дають в результаті рядок "22":</p>

<pre>a = '2'; b = '2';</pre>
<pre>c = a + b;</pre>

<p>Оператори <code>&lt;</code>, <code>&lt;=</code>, <code>&gt;</code> і <code>&gt;=</code> порівнюють два рядки і визначають, в якому порядку вони слідують один за одним. Порівняння засноване на алфавітному порядку, який базується на використовуваній у JavaScript кодуванні Unicode. У цьому кодуванні всі прописні букви латинського алфавіту йдуть раніше, ніж усі малі літери (прописні «менше» рядкових), що може призводити до несподіваних результатів.

Оператор + особливий, оскільки дає пріоритет строковим операндам перед числовими. Якщо один з операндів оператора + являє собою рядок (або об'єкт), то інший операнд перетворюється в рядок (або обидва операнда перетворюються в рядки) і операнди конкатенуються, а не складаються. Наприклад:</p>

<pre>
1 + 2 // Додавання. Результат дорівнює 3.
'1' + '2' // Конкатенація. Результат дорівнює "12".
'1' + 2 // Конкатенація; 2 перетвориться в "2". Результат дорівнює "12".
11 &lt; 3 // Чисельне порівняння. Результат дорівнює false.
"11" &lt; "3" // Порівняння рядків. Результат дорівнює true.
</pre>

<h3>Логічні оператори</h3>

<ul>
	<li>
		<strong>Логічне І (&amp;&amp;)</strong>
		<p>При використанні з логічними операндами оператор &amp;&amp; виконує операцію
логічного І над двома значеннями: він повертає true тоді і тільки тоді, коли перший і другий операнди рівні true. Якщо один або обидва операнда дорівнюють false, оператор повертає false.</p>
	</li>
	<li>
		<strong>Логічне АБО (||)</strong>
		<p>При використанні з логічними операндами оператор || виконує операцію «Логічне АБО» над двома значеннями: він повертає true, якщо перший або другий операнд (або обидва операнда) дорівнюють true. Якщо обидва операнда дорівнюють false, він повертає false.</p>
	</li>
	<li>
		<strong>Логічне НЕ (!)</strong>
		<p>Оператор інвертує значення свого операнда. Так, якщо змінна <code>а</code> має значення true (або є значенням, яке перетворюється на true), то вираз <code>!a</code> має значення false. І якщо вираз <code>p &amp;&amp; q</code> дорівнює false, то вираз <code>!(p &amp;&amp; q)</code> дорівнює true. Зверніть увагу, що можна перетворити значення будь-якого типу в логічне, застосувавши цей оператор двічі: <code>!!x</code>.</p>
	</li>
</ul>
<h3>Оператори присвоювання</h3>

<p>Для присвоювання значення змінній в JavaScript використовується символ =. Наприклад: </p><pre>i = 0;</pre>
<p>
У JavaScript можна не розглядати такий рядок як вираз, що дає результат, але це дійсно вираз і формально знак = являє собою оператор. Лівим операндом оператора = повинна бути змінна, елемент масиву або
властивість об'єкта. Правим операндом може бути будь-яке значення будь-якого типу.
Значенням оператора присвоювання є значення правого операнду.
Оскільки = є оператором, його можна включати в більш складні вирази. Так, в одному виразі можна поєднати операції присвоювання і перевірки значення:</p>

<pre>(a = b) == 0</pre>

<h3>Присвоєння з операцією</h3>

<table>
	<tr>
		<th>Операція</th>
		<th>Приклад</th>
		<th>Значення</th>
	</tr>
	<tr>
		<td>+=</td>
		<td>a += b</td>
		<td>a = a + b</td>
	</tr>
	<tr>
		<td>-=</td>
		<td>a -= b</td>
		<td>a = a – b</td>
	</tr>
	<tr>
		<td>*=</td>
		<td>a *= b</td>
		<td>a = a * b</td>
	</tr>
	<tr>
		<td>/=</td>
		<td>a /= b</td>
		<td>a = a / b</td>
	</tr>
	<tr>
		<td>%=</td>
		<td>a %= b</td>
		<td>a = a % b</td>
	</tr>
</table>
</p>
<h3>Оператор комит</h3>
<p>Оператор «кома» (,) дуже простий. Він обчислює свій лівий операнд, обчислює свій правий операнд і повертає значення правого операнда, тобто наступний рядок <code>i=0, j=1, k=2;</code> повертає значення 2 і практично еквівалентний запису:</p>
<pre>
i = 0;
j = 1;
k = 2;
</pre>

<h3>Оператори доступу до масивів та об'єктів</h3>
<p>Можна звертатися до елементів масиву за допомогою квадратних дужок ([]), а до елементів об'єкта - за допомогою крапки (.). І квадратні дужки, і крапка розглядаються в JavaScript як оператори.</p>
<h3>Оператор виклику функції</h3>
<p>Оператор () призначений в JavaScript для виклику функцій. Цей оператор не має фіксованої кількості операндів.</p>
<p>Перший операнд - це завжди ім'я функції або вираз, що посилається на функцію. За ним слідує ліва дужка і будь-яка кількість додаткових операндів, які можуть бути довільними виразами, відокремленими один
від одного комами. За останніми операндом іде права дужка. Оператор () обчислює всі свої операнди і потім викликає функцію, задану першим операндом, використовуючи в якості аргументів операнди, що залишилися. Наприклад:</p>
<pre>alert("Welcome " + name)</pre>
<h3>Оператори рівності</h3>
<ul>
	<li>
		<strong>Рівність (==) та ідентичність (===)</strong>
		<p>Оператори == та === перевіряють дві величини на збіг, керуючись двома різними визначеннями збігу. Обидва оператори приймають операнди будь-якого типу і повертають true, якщо їх операнди збігаються, і false, якщо вони різні.</p>
		<p>Оператор ===, відомий як оператор ідентичності, перевіряє два операнди на «ідентичність», керуючись суворим визначенням збіги. Оператор == відомий як оператор рівності, він перевіряє, чи рівні дві його операнда відповідно з менш суворим визначенням, що допускає перетворення типів.</p>
	</li>
	<li>
		<strong>Нерівність (!=) та неідентичність (!==)</strong>
		<p>Оператори != та !== виконують перевірки, в точності протилежні операторам == та ===. Оператор != повертає false, якщо два значення рівні один одному, і true в іншому випадку. Оператор неідентичности !== повертає false, якщо два значення ідентичні один одному, і true — в іншому випадку.</p>
	</li>
</ul>
<h3>Оператори порівняння</h3>
<ul>
	<li>
		<strong>Менше (&lt;)</strong>
		<p>Результат оператора &lt; дорівнює true, якщо його перший операнд менший, ніж другий операнд; в іншому випадку він дорівнює false.</p>
	</li>
	<li>
		<strong>Більше (&gt;)</strong>
		<p>Результат оператора &gt; дорівнює true, якщо його перший операнд більий, ніж другий операнд; в іншому випадку він дорівнює false.</p>
	</li>
	<li>
		<strong>Менше або дорівнює (&lt;=)</strong>
		<p>Результатом оператора &lt;= є true, якщо перший операнд менше або дорівнює другому операнду; в іншому випадку результат дорівнює false.</p>
	</li>
	<li>
		<strong>Більше або дорівнює (&gt;=)</strong>
		<p>Результат оператора &gt;= дорівнює true, якщо його перший операнд більше другого або дорівнює йому; в іншому випадку він дорівнює false.</p>
	</li>
</ul>
<h3></h3>
<p>Оператор in вимагає, щоб лівий операнд був рядком або міг бути перетворений в рядок. Правим операндом має бути об'єкт (або масив). Результатом оператора буде true, якщо ліве значення являє собою ім'я властивості об'єкта, зазначеного праворуч. Наприклад:
<pre>var obj = { x:1, y:1 }; // Визначили об'єкт
var has_x = 'x' in obj; // Дорівнює true</pre>

<h3>Оператор instanceof</h3>
<p>Оператор instanceof вимагає, щоб лівим операндом був об'єкт а правим - ім'я класу об'єктів. Результатом оператора буде true, якщо об'єкт, зазначений ліворуч, являє собою екземпляр класу, зазначеного праворуч; в протилежному випадку результатом буде false. В JavaScript класи об'єктів визначаються функцією-конструктором, що їх ініціює.</p>

<p>Отже, правий операнд instanceof має бути ім'ям функції-конструктора. Зверніть увагу: всі об'єкти є екземплярами класу Object. Наприклад:
<pre>var d = new Date(); // Створюємо новий об'єкт за допомогою конструктора Date()
d instanceof Date; // Дорівнює true; об'єкт d був створений за допомогою функції Date()</code>
</pre>

<p>Якщо лівий операнд instanceof не є об'єктом або якщо правий операнд - це об'єкт, який не має функції-конструктора, instanceof повертає false. Але якщо правий операнд взагалі не є об'єктом, повертається помилка.</p>

<h3>Умовний оператор (?:)</h3>
<p>Умовний оператор - це єдиний тернарний оператор (з трьома операндами) в JavaScript, і іноді він так і називається - «тернарний оператор».</p>

<p>Цей оператор зазвичай записується як ?:, хоча в текстах программ він виглядає дещо інакше. 
Він має три операнди, перший йде перед ?, другий – між ? і :, третій – після :. Приклад використання: </p>

<pre>x &gt; 0 ? x*y : -x*y</pre>

<h3>Оператор typeof</h3>
<p>Унарний оператор typeof розташовується перед єдиним операндом, який може мати будь-який тип. Його значення є рядком, що вказує тип даних операнда.</p>
<p>Результатом оператора typeof буде рядок "number", "string" або "boolean", якщо його операндом є число, рядок або логічне значення відповідно.</p>

<h3>Оператор створення об'єкта (new)</h3>
<p>Оператор new створює новий об'єкт і викликає функцію-конструктор для його ініціалізації. Це унарний оператор, що вказується перед викликом конструктора і має наступний синтаксис:

<pre>new конструктор (аргументи)</pre>

Тут конструктор - це вираз, результатом якого є функція-конструктор, і за ним мають розташовуватися нуль або більше аргументів, розділених комами і укладених вкруглі дужки. Як особливий випадок і тільки для оператора new JavaScript спрощує граматику, допускаючи відсутність дужок, якщо у функції немає аргументів. Ось кілька прикладів використання
оператора new: <br />

<pre>o = new Object; // Тут необов'язкові дужки опущені
d = new Date(); // Повертає об'єкт Date, містить поточний час
c = new Rectangle(3.0, 4.0, 1.5, 2.75); // Створює об'єкт класу Rectangle</code>
obj[i] = new constructors[i](); // використовує конструктор з масиву
</pre>

<p>Оператор new спочатку створює новий об'єкт з невизначеними властивостями, а потім викликає задану функцію-конструктор, передаючи їй зазначені аргументи, а також щойно створений об'єкт в якості значення ключового
слова this. За допомогою слова <code>this</code> функція-конструктор може ініціювати новий об'єкт будь-яким необхідним чином.</p>

<h3>Оператор delete</h3>

<p>Унарний оператор delete виконує спробу видалення властивості об'єкта, елемента масиву або змінної, вказаних в його операнді. Він повертає true, якщо видалення пройшло успішно, і false в іншому випадку. Не всі змінні і властивості можуть бути видалені - деякі вбудовані властивості з базового та клієнтського мов JavaScript стійкі до операції видалення. Крім того, не можуть бути вилучені змінні, визначені користувачем за допомогою
інструкції var.</p>

<pre>var o = {x:1, y:2}; // Визначаємо змінну; ініціюємо її як об'єкт
delete o.x; // Видаляємо одну з властивостей об'єкта; повертає true
typeof o.x; // Властивість не існує; повертає "undefined"
delete o.x; // Видаляємо неіснуючу властивість; возвращает true
delete o; // Оголошену змінну видалити не можна; возвращает false
delete 1; // Не можна видалити ціле; повертає true
x = 1; // Неявно оголошуємо змінну без ключового слова var
delete x; // Цей вид змінних можна видаляти; повертає true
x; // Помилка часу виконання: x не визначене</pre>

<h3>Оператор void</h3>
<p>Унарний оператор void вказується перед своїм єдиним операндом, тип якого може бути будь-яким. Дія цього оператора незвична: він відкидає значення операнда і повертає undefined. Найчастіше цей оператор застосовується на стороні клієнта в URL-адресу з ознакою псевдопротокола <code>javascript:</code>, де дозволяє обчислювати вираз заради його побічних дій, не відображаючи в броузері обчислене значення. Наприклад, можна використовувати оператор void в HTML-тегах:

<pre>&lt;a href="javascript:void(document.body.style.backgroundColor='green');"&gt;Зелений фон&lt;/a&gt;
&lt;a href="javascript:void window.open();"&gt;Відкрити нове вікно&lt;/a&gt;</pre>

