<h3>Операторы</h3>
<p><strong>Арифметические операторы</strong></p>
<ul>
	<li>
		<strong>Сложение (+)</strong>
		<p>Оператор «плюс» складывает числовые операнды или выполняет конкатенацию строк. Если одним из операндов является строка, 
другой операнд преобразуется в строку и выполняется конкатенация. Операнды-объекты преобразуются в числа или строки, 
которые могут быть сложены или конкатенированы.
Преобразование выполняется с помощью методов valueOf() и/или toString().</p>
	</li>
	<li>
		<strong>Вычитание (-)</strong>
		<p>Когда «минус» используется в качестве двухместного оператора, он выполняет вычитание второго операнда из первого. 
Если указаны нечисловые операнды, то оператор пытается преобразовать их в числа.</p>
	</li>
	<li>
		<strong>Умножение (*)</strong>
		<p>Оператор * умножает два своих операнда. Нечисловые операнды он пытается
преобразовать в числа.</p>
	</li>
	<li>
		<strong>Деление (/)</strong>
		<p>Оператор / делит первый операнд на второй. Нечисловые операнды он пытается преобразовать в числа. В JavaScript все числа вещественные, 
поэтому результатом любого деления является значение с плавающей точкой. Операция 5/2 дает 2.5, а не 2. 
Результат деления на ноль – плюс или минус бесконечность, а 0/0 дает NaN.</p>
	</li>
	<li>
		<strong>Деление по модулю (%)</strong>
		<p>Оператор % вычисляет остаток, получаемый при целочисленном делении первого операнда на второй. 
Если заданы нечисловые операнды, то оператор пытается преобразовать их в числа. 
Знак результата совпадает со знаком первого операнда, например 5 % 2 дает 1. Оператор деления по модулю обычно применяется к целым операндам, 
но работает и для вещественных значений. Например, -4.3 % 2.1 дает результат -0.1.</p>
	</li>
	<li>
		<strong>Унарный минус (-)</strong>
		<p>Когда минус используется в качестве унарного оператора, он указывается перед одиночным операндом и выполняет унарную операцию смены знака.
Другими словами, он преобразует положительное значение в отрицательное,
и наоборот. Если операнд не является числом, этот оператор пытается преобразовать его в число.</p>
	</li>
	<li>
		<strong>Унарный плюс (+)</strong>
		<p>Для симметрии с оператором «унарный минус» в JavaScript также имеется
оператор «унарный плюс». При помощи этого оператора можно явно задать
знак числовых литералов, если вы считаете, что это сделает текст программы
более понятным:
var p = +1000000;
В таком коде оператор «плюс» ничего не делает; результатом его работы является значение его аргумента. 
Однако нечисловые аргументы он преобразует в числа. Если аргумент не может быть преобразован, возвращается NaN.
</p>
	</li>
	<li>
		<strong>Инкремент (++)</strong>
		<p>Этот оператор инкрементирует (т. е. увеличивает на единицу) свой единственный операнд, который должен быть переменной, элементом массива или
свойством объекта. Если значение этой переменной, элемента массива или
свойства не является числом, оператор сначала пытается преобразовать его в число. 
Точное поведение этого оператора зависит от его положения по отношению к операнду. 
Если поставить его перед операндом (префиксный оператор инкремента), то к операнду прибавляется 1, а результатом является увеличенное значение операнда. 
Если же он размещается после операнда (постфиксный оператор инкремента), то к операнду прибавляется 1, 
однако результатом является первоначальное значение операнда. Если увеличиваемое
значение не является числом, оно в процессе вычисления преобразуется
в число. Например, следующий код делает переменные i и j равными 2: <br />
<code>i = 1;</code><br />
<code>j = ++i;</code><br />
А этот устанавливает i в 2, а j в 1: <br />
<code>i = 1;</code><br />
<code>j = i++;</code><br />
</p>
	</li>
	<li>
		<strong>Декремент (--)</strong>
		<p>Этот оператор декрементирует (т. е. уменьшает на 1) свой единственный числовой операнд, который может представлять собой переменную, элемент
массива или свойство объекта. Если значение этой переменной, элемента или
свойства не является числом, оператор сначала пытается преобразовать его
в число. Как и для оператора ++, точное поведение оператора -- зависит от его
положения относительно операнда. Будучи поставленным перед операндом,
он уменьшает операнд и возвращает уменьшенное значение, после операнда –
уменьшает операнд, но возвращает первоначальное значение.</p>
	</li>
</ul>
<p><strong>Строковые операторы</strong></p>
<p>Оператор + выполняет конкатенацию двух строковых операндов. Другими словами, 
создает новую строку, состоящую из первой строки, за которой следует
вторая строка. Так, следующее выражение равно строке "hello there":
<br />
<code>"hello" + " " + "there"</code>
<br />

Следующие инструкции дают в результате строку "22":
<br /><code>a = "2"; b = "2";</code>
<br /><code>c = a + b;</code><br />
Операторы <code>&lt;</code>, <code>&lt;=</code>, <code>&gt;</code> и <code>&gt;=</code> сравнивают две строки и определяют, в каком порядке
они следуют друг за другом. Сравнение основано на алфавитном порядке, который базируется на используемой в JavaScript кодировке Unicode. 
В этой кодировке все прописные буквы латинского алфавита идут раньше, чем все строчные буквы (прописные «меньше» строчных), что может приводить к неожиданным результатам.

Оператор + особенный, поскольку дает приоритет строковым операндам перед
числовыми. Если один из операндов оператора + представляет собой строку (или объект), 
то другой операнд преобразуется в строку (или оба операнда преобразуются в строки) и операнды конкатенируются, а не складываются. 
Например:
<br />
<code>1 + 2 // Сложение. Результат равен 3.</code>
<br />
<code>"1" + "2" // Конкатенация. Результат равен "12".</code>
<br />
<code>"1" + 2 // Конкатенация; 2 преобразуется в "2". Результат равен "12".</code>
<br />
<code>11 < 3 // Численное сравнение. Результат равен false.</code>
<br />
<code>"11" < "3" // Строковое сравнение. Результат равен true.</code>
</p>
<p><strong>Логические операторы</strong></p>
<ul>
	<li>
		<strong>Логическое И (&&)</strong>
		<p>При использовании с логическими операндами оператор && выполняет операцию
логического И над двумя значениями: он возвращает true тогда и только тогда,
когда первый и второй операнды равны true. Если один или оба операнда равны
false, оператор возвращает false.</p>
	</li>
	<li>
		<strong>Логическое ИЛИ (||)</strong>
		<p>При использовании с логическими операндами оператор || выполняет операцию
«логическое ИЛИ» над двумя значениями: он возвращает true, если первый или
второй операнд (или оба операнда) равен true. Если оба операнда равны false, он
возвращает false.</p>
	</li>
	<li>
		<strong>Логическое НЕ (!)</strong>
		<p>Оператор инвертирует значение своего операнда. Так, если переменная a имеет значение true 
(или представляет собой значение, преобразуемое в true), то выражение !a имеет значение false. И если выражение p && q равно
false (или значению, преобразуемому в false), то выражение !(p && q) равно true.
Обратите внимание, что можно преобразовать значение любого типа в логическое, применив этот оператор дважды: !!x.</p>
	</li>
</ul>
<p><strong>Операторы присваивания</strong></p>
<p><strong>Оператор «запятая»</strong></p>
<p><strong>Операторы доступа к массивам и объектам</strong></p>
<p><strong>Оператор вызова функции</strong></p>
<p><strong>Операторы равенства</strong></p>
<p><strong>Операторы сравнения</strong></p>
<p><strong>Оператор in</strong></p>
<p><strong>Оператор instanceof</strong></p>
<p><strong>Условный оператор (?:)</strong></p>
<p><strong>Оператор typeof</strong></p>
<p><strong>Оператор создания объекта (new)</strong></p>
<p><strong>Оператор delete</strong></p>
<p><strong>Оператор void</strong></p>