<p>Функции в JavaScript могут вызываться с произвольным числом аргументов независимо от того, сколько аргументов указано в определении именованной
функции. Поскольку функции являются слабо типизированными, отсутствует
возможность задавать типы входных аргументов, в связи с чем считается допустимым передавать значения любых типов любым функциям.</p>
<p>Когда функция вызывается с меньшим количеством аргументов, чем описывается
в определении, недостающие аргументы получают значение undefined.</p>
<p>В теле функции идентификатор arguments всегда имеет особый смысл; arguments –
это специальное свойство объекта вызова, ссылающееся на объект, известный
как объект Arguments. Объект Arguments – это нечто вроде массива, позволяющего извлекать переданные функции значения по номеру, а не по имени.</p>
<p><code>foo(1,2,3)</code><br /><code>function foo(){ console.log(arguments); }</code></p>
<p><code>foo(1,2,3)</code><br /><code>function foo(a,b){ console.log(arguments.length); }</code></p>
<p>Преобразование arguments в массив</p>
<p>
	<code>var args = [];</code>
	<br />
	<code>for(var i=0; i<arguments.length; i++) {</code>
	<br />
	<code>&nbsp;&nbsp;args[i] = arguments[i];</code>
	<br />
	<code>}</code>
</p>
<p>Или (используется также в каррировании): </p>
<p><code>Array.prototype.slice.call(arguments);</code></p>