<p>Функції в JavaScript можуть викликатися з довільним числом аргументів незалежно від того, скільки аргументів зазначено у визначенні
	іменованої функції. Оскільки функції типізовані  слабо, то відсутня можливість задавати типи вхідних аргументів,
	в зв'язку з чим вважається допустимим передавати значення будь-яких типів будь-яких функцій.</p>
<p>Коли функція викликається з меншою кількістю аргументів, ніж описується в визначенні, відсутні аргументи отримують
	значення undefined.</p>
<p>У тілі функції ідентифікатор <code>arguments</code> завжди має особливий сенс; <code>arguments</code> - це спеціальна властивість об'єкта виклику, що посилається
	на об'єкт, відомий як об'єкт <code>Arguments</code> - це щось на зразок масиву, який дозволяє витягувати передані функції значення за номером, а не по імені.</p>
<p>
	<code>foo(1,2,3)</code>
	<br />
	<code>function foo(){ console.log(arguments); }</code>
</p>
<p>
	<code>foo(1,2,3)</code>
	<br />
	<code>function foo(a,b){ console.log(arguments.length); }</code>
</p>
<h3>Перетворення arguments на масив</h3>
<p>
	<code>var args = [];</code>
	<br />
	<code>for(var i=0; i
		<arguments.length; i++) {</code>
			<br />
			<code>&nbsp;&nbsp;args[i] = arguments[i];</code>
			<br />
			<code>}</code>
</p>
<p>Або (використовується також в каррінгу): </p>
<p>
	<code>Array.prototype.slice.call(arguments);</code>
</p>