<h3>Функции обратного вызова (Callback pattern)</h3>
<p>Функции – это объекты, то есть они могут передаваться как аргумен-
ты другим функциям. Если, например, функция bar() пере-
дается как параметр функции foo(), это оначает, что в какой-то
момент функция foo() выполнит (или вызовет) функцию bar().
В этом случае функция bar() называется функцией
обратного вызова:</p>
<p>
	<code>function foo(callback){</code>
	<br />
	<code>&nbsp;&nbsp;// some code</code>
	<br />
	<code>&nbsp;&nbsp;if(callback typeof === 'function') callback()</code>
	<br />
	<code>&nbsp;&nbsp;// some code</code>
	<br />
	<code>}</code>
</p>
<p>
	<code>function bar(){</code>
	<br />
	<code>&nbsp;&nbsp;// some code</code>
	<br />
	<code>}</code>
	<br />
	<br />
	<code>foo(bar);</code>
</p>
<p>Обратите внимание, что при передаче функции в виде аргумента она передается без круглых скобок. Наличие круглых
скобок вызывает выполнение функции, тогда как в данном случае
нам необходимо всего лишь передать ссылку на эту функцию и дать
функции foo() возможность выполнить ее (то есть произвести об-
ратный вызов) в нужный момент времени.</p>