<h3>Кожна функція - це замикання</h3>
<p>Тіло функції виконуєься в локальній області видимості, яка відрізняється від глобальної.</p>
<p>Функції в JavaScript є комбінацією виконуваного коду і області видимості, в якій цей код виконується. Така комбінація програмного
	коду і області видимості називається замиканням (closure).
	<strong>замиканням (closure)</strong>.</p>
<p>
	<strong>Всі функції є замиканнями.</strong> Тобто функції "замикають" на собі змінні всіх зовнішніх функцій або мають доступ до
	глобальної / зовнішнім областям видимості -
	<a href="#var/scope">Scope chain</a>.</p>
<p>Однак всі ці замикання представляють інтерес тоді, коли вкладена функція експортується за межі області видимості, в якій
	вона була визначена — тобто, коли вкладена функція передається у вигляді значення, що повертається зовнішній функції або
	зберігається у вигляді властивості будь-якого іншого об'єкта.</p>
<p>У такому випадку з'являється зовнішнє посилання на вкладену функцію, при цьому вкладена функція продовжує посилатися на простір
	імен зовнішньої функції. В результаті всі простори імен (об'єкти виклику), створені при кожному такому зверненні до зовнішньої
	функції, продовжують своє існування, а разом з ними продовжують існування імена і значення аргументів функції і локальних
	змінних.
</p>
<p>
	<code>function counter(){</code>
	<br />
	<code>&nbsp;&nbsp;var count = 0;</code>
	<br />
	<code>&nbsp;&nbsp;return function(){</code>
	<br />
	<code>&nbsp;&nbsp;&nbsp;&nbsp;console.log(++count);</code>
	<br />
	<code>&nbsp;&nbsp;}</code>
	<br />
	<code>}</code>
	<br />
	<code>var increment = counter();</code>
	<br />
	<code>increment(); // 1</code>
	<br />
	<code>increment(); // 2</code>
	<br />
	<code>increment(); // etc.</code>
</p>

<p>Більше:
	<a href="https://uk.wikipedia.org/wiki/Замикання_(програмування)">Замикання у Вікіпедії</a>
</p>