<h3>Замыкания</h3>
<p>Тело функции исполняется в локальной области видимости, которая отличается от глобальной.</p>
<p>Функции в JavaScript представляют собой комбинацию исполняемого кода и области видимости, в которой этот код исполняется. Такая
комбинация программного кода и области видимости называется <strong>замыканием (closure)</strong>.</p>
<p><strong>Все функции являются замыканиями.</strong> Т.е. функции "замыкают" на себе переменные всех внешних функций или имеют доступ к глобальной/внешним областям видимости - <a href="#var/scope">Scope chain</a>.</p>
<p>Однако все эти замыкания представляют интерес тогда, когда вложенная функция экспортируется за пределы области видимости, в которой она была определена.</p>
<p>То есть, когда вложенная функция передается в виде возвращаемого значения внешней функции или сохраняется в виде свойства какого-либо другого объекта. 
В таком случае появляется внешняя ссылка на
вложенную функцию, при этом вложенная функция продолжает ссылаться на
пространство имен внешней функции. В результате все пространства имен(объекты вызова), созданные при каждом таком обращении к внешней функции, продолжают свое
существование, а вместе с ними продолжают существование имена и значения
аргументов функции и локальных переменных.</p>
<p>
	<code>function counter(){</code>
	<br />
	<code>&nbsp;&nbsp;var count = 0;</code>
	<br />
	<code>&nbsp;&nbsp;return function(){</code>
	<br />
	<code>&nbsp;&nbsp;&nbsp;&nbsp;console.log(++count);</code>
	<br />
	<code>&nbsp;&nbsp;}</code>
	<br />
	<code>}</code>
	<br />
	<code>var increment = counter();</code>
	<br />
	<code>increment(); // 1</code>
	<br />
	<code>increment(); // 2</code>
	<br />
	<code>increment(); // etc.</code>
</p>

