<h3>Immediate Functions</h3>
<h4>Немедленно вызываемые функции</h4>
<p>Немедленно вызываемая функция – это синтаксическая конструкция,
позволяющая вызвать функцию немедленно, в точке ее определения.</p>
<p>Cлужит для немедленного вызо
ва функции сразу после ее создания</p>
<p>
	<code>(function(){</code>
	<br />
	<code>&nbsp;&nbsp;console.log( "a" );</code>
	<br />
	<code>})();</code>
</p>
<p>
	<code>(function(){</code>
	<br />
	<code>&nbsp;&nbsp;console.log( "b" );</code>
	<br />
	<code>}());</code>
</p>
<p>Этот шаблон
удобен тем, что он предоставляет программному коду изолированную
область видимости. Представьте себе такую распростра
ненную ситуацию: сценарий должен выполнить некоторые операции
по инициализации после загрузки страницы, например подключить
обработчики событий, создать объекты и так далее. Все эти действия
должны выполняться только один раз, поэтому нет смысла создавать
именованную функцию. В ходе выполнения этих операций необходи
мо создать несколько временных переменных, которые будут не нужны
по окончании инициализации, и было бы нежелательно, чтобы все эти
переменные остались существовать в глобальном пространстве имен.
Именно в подобных ситуациях можно воспользоваться немедленно вы-
зываемой функцией, чтобы обернуть программный код локальной об
ластью видимости и не допустить засорения глобального пространства
имен временными переменными.</p>
<p>Обычно немедленно вызываемым функциям в качестве аргумента пере
дается глобальный объект, чтобы к нему можно было обращаться без
использования свойства window</p>
<p>
	<code>(function($){</code>
	<br />
	<code>&nbsp;&nbsp;console.log( $ );</code>
	<br />
	<code>})(jQuery);</code>
</p>
<p>Как и любая другая функция, немедленно вызываемая функция спо
собна возвращать некоторые значения, которые можно присваивать
переменным</p>
<p>
	<code>var result = (function () {</code>
	<br />
	<code>&nbsp;&nbsp;return 2 + 2;</code>
	<br />
	<code>}());</code>
</p>
<p>Того же эффекта можно добиться, опустив круглые скобки, окружаю
щие функцию, потому что они не требуются, когда значение, возвраща
емое немедленно вызываемой функцией, присваивается переменной.</p>
<p>
	<code>var result = function () {</code>
	<br />
	<code>&nbsp;&nbsp;return 2 + 2;</code>
	<br />
	<code>}();</code>
</p>
<p>Этот шаблон
также дает возможность выделить отдельные особенности
в самодостаточные модули. Представьте, что имеется некоторая статич
ная страница, которая прекрасно обходится без JavaScript.
Вы можете добавлять дополнительные расширения, удалять их,
тестировать, давать пользователям возможность запрещать их и так
далее.</p>