<h3>Функції негайного виклику - Immediate Functions</h3>
<h4>IIFE - Immediately-invoked function expression</h4>
<p>Функція негайного виклику - це синтаксична конструкція, що дозволяє викликати функцію прямо в точці її визначення.</p>
<p>
	<code>(function(){</code>
	<br />
	<code>&nbsp;&nbsp;console.log( "a" );</code>
	<br />
	<code>})();</code>
</p>
<p>
	<code>(function(){</code>
	<br />
	<code>&nbsp;&nbsp;console.log( "b" );</code>
	<br />
	<code>}());</code>
</p>
<p>Цей шаблон зручний тим, що він надає програмному коду ізольовану область видимості. Уявіть собі таку поширену ситуацію: сценарій
	повинен виконати деякі операції по ініціалізації після завантаження сторінки, наприклад підключити обробники подій, створити
	об'єкти і так далі. Всі ці дії повинні виконуватися тільки один раз, тому немає сенсу створювати іменовану функцію. В ході
	виконання цих операцій необхідно створити кілька тимчасових змінних, які будуть не потрібні після закінчення ініціалізації,
	і було б небажано, щоб всі ці змінні залишилися існувати в глобальному просторі імен. Саме в подібних ситуаціях можна скористатися
	негайно виконуваною функцією, щоб обернути програмний код локальною областю видимості і не допустити засмічення глобального
	простору імен тимчасовими змінними.</p>

<p>Зазвичай негайно викликається функцій в якості аргументу пере дається глобальний об'єкт, щоб до нього можна було звертатися
	без використання властивості window
</p>
<p>
	<code>(function($){</code>
	<br />
	<code>&nbsp;&nbsp;console.log( $ );</code>
	<br />
	<code>})(jQuery);</code>
</p>
<p>Як і будь-яка інша, функція негайного виклику здатна повертати деякі значення, які можна привласнювати змінним:
</p>
<p>
	<code>var result = (function () {</code>
	<br />
	<code>&nbsp;&nbsp;return 2 + 2;</code>
	<br />
	<code>}());</code>
</p>
<p>Того ж ефекту можна досягти, опустивши круглі дужки навколо функції, тому що вони не потрібні, коли значення, яке повертає
	функція негайного виклику, присвоюється змінній.</p>
<p>
	<code>var result = function () {</code>
	<br />
	<code>&nbsp;&nbsp;return 2 + 2;</code>
	<br />
	<code>}();</code>
</p>
<p>Цей шаблон також дає можливість виділити окремі фічі в самодостатні модулі. Уявіть, що є деяка статич ная сторінка,
	яка прекрасно обходиться без JavaScript. Ви можете додавати додаткові розширення, видаляти їх, тестувати, давати користувачам
	можливість забороняти їх і так далі.
</p>

<p>Більше: https://en.wikipedia.org/wiki/Immediately-invoked_function_expression</p>

