<h3>Запам'ятовування - Memoization</h3>
<p>Шаблон кешування результатів функції.</p>
<p>Функції - це об'єкти, тому вони можуть мати властивості. Фактично функції вже при створенні мають деякі передумовлені властивості
	та методи:
	<strong>name, length, call, apply</strong>.</p>
<p>Також можна додавати до функції свої властивості і методи, які можна використовувати для кешування результатів (значення,
	що повертається) функції, щоб при наступному зверненні до функції їй не доводилося виконувати складні і тривалі обчислення.
</p>
<p>Шаблон:</p>
<p>
	<code>function myFunc(param) {</code>
	<br />
	<code>&nbsp;&nbsp;if (!myFunc.cache) {</code>
	<br />
	<code>&nbsp;&nbsp;&nbsp;&nbsp;myFunc.cache = {};</code>
	<br />
	<code>&nbsp;&nbsp;}</code>
	<br />
	<code>&nbsp;&nbsp;if (!myFunc.cache[param]) {</code>
	<br />
	<code>&nbsp;&nbsp;&nbsp;&nbsp;var result = /* operations */;</code>
	<br />
	<code>&nbsp;&nbsp;&nbsp;&nbsp;myFunc.cache[param] = result;</code>
	<br />
	<code>&nbsp;&nbsp;}</code>
	<br />
	<code>&nbsp;&nbsp;return myFunc.cache[param];</code>
	<br />
	<code>}</code>
</p>
<p>Для вивчення -
	<a href="http://addyosmani.com/blog/faster-javascript-memoization/">Memoize</a>
</p>

<p>Приклад використання:</p>
<p>
	<code>function calculation(x, y){</code>
	<br />
	<code>&nbsp;&nbsp;var key = x.toString() + "|" + y.toString();</code>
	<br />
	<code>&nbsp;&nbsp;var result = 0;</code>
	<br />
	<code>&nbsp;&nbsp;if (!calculation.cache[key]){</code>
	<br />
	<code>&nbsp;&nbsp;&nbsp;&nbsp;for (var i = 0; i
		< y; ++i) result +=x ;</code>
			<br />
			<code>&nbsp;&nbsp;&nbsp;&nbsp;calculation.cache[key] = result;</code>
			<br />
			<code>&nbsp;&nbsp;}</code>
			<br />
			<code>&nbsp;&nbsp;return calculation.cache[key];</code>
			<br />
			<code>}</code>
			<br />
			<code>calculation.cache = {};</code>
</p>

<h3>Каррінг - часткове застосування - Currying</h3>
<p>Каррінг - це процес перетворення функції, в результаті якого з'являються функції, що володіють можливістю часткового застосування.</p>
<p>Якщо виявиться, що ви неодноразово викликаєте одну і ту ж функцію, передаючи їй практично одні і ті ж параметри, ця функція
	напевно є відмінним кандидатом на каррінг. Ви можете створити нову функцію, використовуючи прийом застосування частини пара
	метрів до оригінальної функції. Нова функція буде зберігати повторювали ряющий параметри (завдяки чому вам не доведеться
	передавати їх кожен раз) і використовувати їх для заповнення повного списку аргу ментів, очікуваних оригінальної функцією.
</p>
<p>Простий приклад:</p>
<p>
	<code>function add(x, y) {</code>
	<br />
	<code>&nbsp;&nbsp;if (typeof y === 'undefined') { // partial</code>
	<br />
	<code>&nbsp;&nbsp;&nbsp;&nbsp;return function (y) {</code>
	<br />
	<code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return x + y;</code>
	<br />
	<code>&nbsp;&nbsp;&nbsp;&nbsp;};</code>
	<br />
	<code>&nbsp;&nbsp;}</code>
	<br />
	<code>&nbsp;&nbsp;// full</code>
	<br />
	<code>&nbsp;&nbsp;return x + y;</code>
	<br />
	<code>}</code>
	<br />
	<br />
	<code>var add5 = add(5);</code>
	<br />
	<code>add5(4);</code>
	<br />
	<code>add(5)(4);</code>
</p>
<p>Шаблон:</p>
<p>
	<code>function curry( fn ){</code>
	<br />
	<code>&nbsp;&nbsp;var slice = Array.prototype.slice,</code>
	<br />
	<code>&nbsp;&nbsp;&nbsp;&nbsp;storedArgs = slice.call( arguments, 1 );</code>
	<br />
	<br />
	<code>&nbsp;&nbsp;return function() {</code>
	<br />
	<code>&nbsp;&nbsp;&nbsp;&nbsp;var args = storedArgs.concat( slice.call( arguments ) );</code>
	<br />
	<code>&nbsp;&nbsp;&nbsp;&nbsp;return fn.apply( this, args );</code>
	<br />
	<code>&nbsp;&nbsp;}</code>
	<br />
	<code>}</code>
</p>
<p>Приклад застосування:</p>
<p>
	<code>function add(x,y){</code>
	<br />
	<code>&nbsp;&nbsp;return x+y;</code>
	<br />
	<code>}</code>
	<br />
	<br />
	<br />
	<br />
	<code>var add5 = curry(add, 5);</code>
	<br />
	<code>add5(4);</code>
	<br />
	<code>curry(add, 5)(4);</code>
</p>

