<h3>Returning Functions</h3>
<p>Функции – это объекты, поэтому их можно использовать в качестве
возвращаемых значений. То есть функция не обязательно должна воз
вращать какое-то конкретное значение или массив данных. Функция
может возвращать другую, более специализированную функцию или
создавать другую функцию по мере необходимости в зависимости от
входных параметров.</p>
<p>
	<code>var setup = function () {</code>
	<br />
	<code>&nbsp;&nbsp;alert(1);</code>
	<br />
	<code>&nbsp;&nbsp;return function () {</code>
	<br />
	<code>&nbsp;&nbsp;&nbsp;&nbsp;alert(2);</code>
	<br />
	<code>&nbsp;&nbsp;};</code>
	<br />
	<code>};</code>
	<br />
	<br />
	<code>var my = setup(); //alert 1</code>
	<br />
	<code>my(); // alert 2</code>
</p>
<p>Поскольку функция setup() обертывает возвращаемую функцию, обра
зуется замыкание, которое можно использовать для хранения некото
рых частных данных, доступных возвращаемой функции и недоступ
ных за ее пределами. Примером таких частных данных может служить
<a href="#func/closure">счетчик</a></p>