<h3>Повернення функцій</h3>
<p>Функції - це об'єкти, тому їх можна використовувати в якості значень, що повертаються. Тобто функція не обов'язково повинна
	віз обертати якесь конкретне значення або масив даних. Функція може повертати іншу, більш спеціалізовану функцію або створювати
	іншу функцію в міру необхідності в залежності від вхідних параметрів.
</p>
<p>
	<code>var setup = function () {</code>
	<br />
	<code>&nbsp;&nbsp;alert(1);</code>
	<br />
	<code>&nbsp;&nbsp;return function () {</code>
	<br />
	<code>&nbsp;&nbsp;&nbsp;&nbsp;alert(2);</code>
	<br />
	<code>&nbsp;&nbsp;};</code>
	<br />
	<code>};</code>
	<br />
	<br />
	<code>var my = setup(); //alert 1</code>
	<br />
	<code>my(); // alert 2</code>
</p>
<p>Оскільки функція setup() обгортає функцію, яку повертає, то утворюється замикання, яке можна використовувати для зберігання
	деяких приватних даних, доступних функції, що повертається, і недоступних за її межами. Прикладом таких приватних даних
	може служити <a href="#func/closure">лічильник у замиканні</a>.
</p>