<h3>Область видимости</h3>
<p>Функции в JavaScript имеют не динамическую, а лексическую область видимости. Это означает, что они исполняются в области видимости, которая была создана на момент определения функции, а не на момент ее исполнения. В момент
определения функции текущая цепочка областей видимости сохраняется и становится частью внутреннего состояния функции. На верхнем уровне область видимости просто состоит из глобального объекта, и о лексической области видимости говорить не приходится. Однако когда объявляется вложенная функция,
ее цепочка областей видимости включает объемлющую функцию. Это означает,
что вложенная функция обладает возможностью доступа ко всем аргументам
и локальным переменным объемлющей функции.</p>
<p>Иногда бывает удобно создать функцию только ради того, чтобы получить объект вызова, который действует как временное пространство имен, где можно определять переменные и свойства, не беспокоясь о возможных конфликтах с гло
бальным пространством имен.</p>
<p>
	<code>var global = 'Global scope';</code>
	<br />
	<code>function funcA(){</code>
	<br />
	<code>&nbsp;&nbsp;var local = 'Local scope';</code>
	<br />
	<code>&nbsp;&nbsp;function funcB(){</code>
	<br />
	<code>&nbsp;&nbsp;&nbsp;&nbsp;console.log(global);</code>
	<br />
	<code>&nbsp;&nbsp;&nbsp;&nbsp;console.log(local);</code>
	<br />
	<code>&nbsp;&nbsp;}</code>
	<br />
	<code>}</code>
</p>
<p>Нередко можно столкнуться с неприятным последствием от наличия одного единственного глобального пространства имён — проблемы с перекрытием имён переменных. В JavaScript эту проблему легко избежать, используя анонимные обёртки.</p>
<p>
	<code>(function(){</code>
	<br />
	<code>&nbsp;&nbsp; // isolated scope</code>
	<br />
	<code>})();</code>
</p>
<p>Другие способы анонимной обертки</p>
<p>
	<code>+function(){}();</code>
	<br />
	<code>(function(){}());</code>
</p>
<p>Рекомендуется всегда использовать анонимную обёртку чтобы заключить код в собственное пространство имён. Это не только защищает код от совпадений имён, но и позволяет создавать модульные программы.</p>