<h3>Самовизначені функції або відкладене визначення функції - Self-Defining Functions</h3>
<p>Функції можуть визначатися динамічно і присвоюватися змінним. Якщо створити нову функцію і привласнити її змінній, що вже
	зберігає іншу функцію, стара функція буде затерта новою. Це нагадує переустановку покажчика на нову функцію. Все це можна
	реалізувати в тілі старої функції. У цьому випадку функція перевизначити саму себе новою реалізацією.</p>
<p>
	<code>var selfDefining = function(){</code>
	<br />
	<code>&nbsp;&nbsp;console.log("Initialization");</code>
	<br />
	<code>&nbsp;&nbsp;console.log("phase 1");</code>
	<br />
	<code>&nbsp;&nbsp;selfDefining = function(){</code>
	<br />
	<code>&nbsp;&nbsp;&nbsp;&nbsp;console.log("phase 2");</code>
	<br />
	<code>&nbsp;&nbsp;}</code>
	<br />
	<code>}</code>
	<br />
	<br />
	<code>selfDefining();</code>
	<br />
	<code>selfDefining();</code>
</p>
<p>Цей прийом можна використовувати для виконання деяких операцій з ініціалізації, причому ці операції мають бути
	виконані всього один раз. Оскільки немає жодних причин багаторазово виконувати деякі операції, коли цього можна уникнути,
	то частина функції може виявитися незатребуваною. У подібних ситуаціях можна застосовувати самовизначатися функції, які змінюють
	власну реалізацію.</p>

<p>Недолік цього шаблону полягає в тому, що всі властивості, додані до колишньої функції, будуть втрачені в момент перевизначення.
	Крім того, якщо колишня функція використовувалася під іншим ім'ям, на приклад, була привласнена іншій змінній або була задіяна
	як метод об'єкта, то в таких випадках перевизначення функції ніколи не станеться, і буде виконуватися тіло колишньої функції.</p>