<h3>Self-Defining Functions</h3>
<h4>Самоопределяемые функции или отложенное определение функции</h4>
<p>Функции могут определяться динамически и присваиваться перемен
ным. Если создать новую функцию и присвоить ее переменной, кото
рая уже хранит другую функцию, старая функция будет затерта новой.
Это напоминает переустановку указателя на новую функцию. Все это
можно реализовать в теле старой функции. В этом случае функция
переопределит саму себя новой реализацией.</p>
<p>
	<code>var selfDefining = function(){</code>
	<br />
	<code>&nbsp;&nbsp;console.log("Initialization");</code>
	<br />
	<code>&nbsp;&nbsp;console.log("phase 1");</code>
	<br />
	<code>&nbsp;&nbsp;selfDefining = function(){</code>
	<br />
	<code>&nbsp;&nbsp;&nbsp;&nbsp;console.log("phase 2");</code>
	<br />
	<code>&nbsp;&nbsp;}</code>
	<br />
	<code>}</code>
	<br />
	<br />
	<code>selfDefining();</code>
	<br />
	<code>selfDefining();</code>
</p>
<p>Этот прием удобно использовать, когда требуется выполнить некоторые
операции по инициализации, причем эти операции должны быть вы
полнены всего один раз. Поскольку нет никаких причин многократно
выполнять некоторые операции, когда этого можно избежать, часть
функции может оказаться невостребованной. В подобных ситуациях
можно применять самоопределяемые функции, изменяющие собствен
ную реализацию.</p>
<p>Недостаток этого шаблона
состоит в том, что все свойства, добавленные
к прежней функции, будут потеряны в момент переопределения. Кроме
того, если прежняя функция использовалась под другим именем, на
пример, была присвоена другой переменной или была задействована
как метод объекта, то в таких случаях переопределение функции ни
когда не произойдет и будет выполняться тело прежней функции.</p>