<h3>Конструктор</h3>
<p>Функция, применяемая совместно с оператором <strong>new</strong>, называется функцией-конструктором, или просто конструктором. Главная задача конструктора заключается в инициализации вновь созданного объекта – установке всех его
свойств, которые необходимо инициализировать до того, как объект сможет использоваться в другом месте кода. Чтобы определить собственный конструктор, достаточно написать функцию, добавляющую новые свойства к объекту, на который
ссылается ключевое слово this.</p>
<p>
	<code>function Person(name, phoneNumber){</code>
	<br />
	<code>&nbsp;&nbsp;this.name = name;</code>
	<br />
	<code>&nbsp;&nbsp;this.phoneNumber = phoneNumber;</code>
	<br />
	<code>}</code>
	<br />
	<br />
	<br />
	<code>var person1 = new Person('John', '1-456-879-54');</code>
	<br />
	<code>var person2 = new Person('Bill', '1-157-423-77');</code>
</p>
<p>Обратите внимание на то, как конструктор использует свои аргументы для инициализации свойств объекта, на который ссылается ключевое слово this. Здесь мы определили класс объектов, просто создав соответствующую функцию-конструктор – все объекты, созданные с помощью конструктора Person(), гарантированно будут иметь инициализированные свойства name и phoneNumber.</p>
<p>Обычно функции-конструкторы ничего не возвращают, они лишь инициализируют объект, полученный в качестве значения ключевого слова this. Однако для конструкторов допускается возможность возвращать объект, в этом случае возвращаемый объект становится значением выражения new. При этом объект, переданный конструктору в виде значения ключевого слова this, просто уничтожается.</p>
<h4>Свойство constructor</h4>
<p>В JavaScript любой объект имеет свойство constructor, которое ссылается на функцию-конструктор, используемую для инициализации объекта.</p>
<p>
	<code>var d = new Date();</code>
	<br />
	<code>console.log(d.constructor);</code>
</p>
<p>Проверить значение свойства constructor можно с помощью оператора <strong>instanceof</strong></p>
<p><code>console.log(d instanceof Date);</code></p>