<h3>Прототипы</h3>
<p>Все объекты в JavaScript
содержат внутреннюю ссылку на объект, известный как прототип. Любые свойства прототипа становятся свойствами другого объекта, для которого он является прототипом. То есть, говоря другими словами, любой объект в JavaScript <strong>наследует</strong> свойства своего прототипа.</p>
<p>Оператор <strong>new</strong> создает пустой объект
и затем вызывает функцию-конструктор. После создания пустого объекта оператор <strong>new</strong> устанавливает в этом объекте ссылку на прототип. Прототипом объекта является значение свойства <strong>prototype</strong>
функции-конструктора. Все функции имеют свойство <strong>prototype</strong>, которое инициализируется в момент определения функции. Начальным значением этого
свойства является объект с единственным свойством. Это свойство называется <strong>constructor</strong> и значением его является ссылка на саму функцию-конструктор, с которой этот прототип ассоциируется. Любые свойства, добавленные к прототипу, автоматически становятся свойствами объектов, инициализируемых конструктором.</p>
<p>
	<code>function Person(name, phoneNumber){</code>
	<br />
	<code>&nbsp;&nbsp;this.name = name;</code>
	<br />
	<code>&nbsp;&nbsp;this.phoneNumber = phoneNumber;</code>
	<br />
	<code>}</code>
	<br />
	<code>Person.prototype.getInfo = function(){</code>
	<br />
	<code>&nbsp;&nbsp;return this.name + "'s phone number is " + this.phoneNumber;</code>
	<br />
	<code>}</code>
	<br />
	<code>var person1 = new Person('John', '1-456-879-54');</code>
	<br />
	<code>var person2 = new Person('Bill', '1-157-423-77');</code>
</p>