<p><strong>Объектная модель документа (DOM)</strong></p>
<p>Доступна через document. Дает доступ к содержимому страницы.</p>
<p><strong>Объектная модель браузера (BOM)</strong></p>
<p>BOM — это объекты для работы с чем угодно, кроме документа. Доступ к фреймам, запросы к серверу, функции alert/confirm/prompt —- все это BOM.</p>
<p>navigator: платформа и браузер</p>
<p>Объект navigator содержит общую информацию о браузере и операционной системе.</p>
<ul>
	<li>navigator.userAgent — содержит информацию о браузере.</li>
	<li>navigator.platform — содержит информацию о платформе, позволяет различать Windows/Linux/Mac и т.п..</li>
</ul>
<p>screen</p>
<p>Объект screen содержит общую информацию об экране, включая его разрешение, цветность и т.п. Оно может быть полезно для определения, что код выполняется на мобильном устройстве с маленьким разрешением.
Текущее разрешение экрана посетителя по горизонтали/вертикали находится в screen.width/screen.height.</p>
<p>location</p>
<p>Объект location предоставляет информацию о текущем URL и позволяет JavaScript перенаправить посетителя на другой URL. Значением этого свойства является объект типа Location.</p>
<p>frames</p>
<p>Коллекция, содержащая фреймы и ифреймы. Можно обращаться к ним как по номеру, так и по имени. В frames содержатся window-объекты дочерних фреймов.</p>
<p>history</p>
<p>Объект history позволяет менять URL без перезагрузки страницы (в пределах того же домена) при помощи History API, а также перенаправлять посетителя назад-вперед по истории.</p>
<p>Объект history не предоставляет возможности читать историю посещений. Можно отправить посетителя назад вызовом history.back() или вперед вызовом history.forward(), но сами адреса браузер не дает из соображений безопасности.</p>