<h2>DOM та BOM</h2> 

<h3>Об'єктна модель документу (DOM)</h3>

<p>Доступна через document. Дає доступ до вмісту сторінки.</p>

<h3>Об'єктна модель браузера (BOM)</h3>

<p>BOM - це об'єкти для роботи з чим завгодно, крім документа. Доступ до фреймів, запити до сервера, функції alert / confirm / prompt - все це BOM.</p>

<h4>navigator: платформа і браузер</h4>

<p>Об'єкт navigator містить загальну інформацію про браузері і операційну систему.</p>
<ul>
	<li>navigator.userAgent - містить інформацію про браузер.</li>
	<li>navigator.platform - містить інформацію про платформу, дозволяє розрізняти Windows / Linux / Mac і т.п.</li>
</ul>

<h4>screen</h4>

<p>Об'єкт screen містить загальну інформацію про екран, включаючи його дозвіл, кольоровість і т.п. Воно може бути корисно для визначення, що код виконується на мобільному пристрої з маленьким дозволом. Поточне дозвіл екрана відвідувача по горизонталі / вертикалі знаходиться в screen.width / screen.height.</p>

<h4>location</h4>

<p>Об'єкт location надає інформацію про поточний URL і дозволяє JavaScript перенаправити відвідувача на інший URL. Значним цієї властивості є об'єкт типу Location.</p>

<h4>frames</h4>

<p>Колекція, що містить фрейми і іфрейми. Можна звертатися до них як за номером, так і по імені. У frames містяться window-об'єкти дочірніх фреймів.</p>

<h4>history</h4>

<p>Об'єкт history дозволяє міняти URL без перезавантаження сторінки (в межах того ж домена) за допомогою History API, а також перенаправляти відвідувача назад-вперед по історії.</p>

<p>Об'єкт history не надає можливості читати історію відвідувань. Можна відправити відвідувача назад викликом history.back() або вперед викликом history.forward(), але самі адреси браузер не дає з міркувань безпеки.</p>