<p>Все объекты в JavaScript наследуют свойства и методы
класса Object. При этом специализированные классы объектов, как, например,
те, что создаются с помощью конструкторов Date() или RegExp(), определяют собственные свойства и методы, но все объекты независимо от своего происхождения помимо всего прочего поддерживают свойства и методы, определенные
классом Object.</p>
<p><strong>Свойство constructor</strong></p>
<p>В JavaScript любой объект имеет свойство constructor, которое ссылается на функцию-конструктор, используемую для инициализации объекта. Например, если
объект d создается с помощью конструктора Date(), то свойство d.constructor ссылается на функцию Date</p>
<p>
	<code>var d = new Date( );</code><br />
	<code>d.constructor == Date; // Равно true</code><br />
</p>
<p><strong>Метод toString()</strong></p>
<p>Метод toString() не требует аргументов; он возвращает строку, каким-либо образом представляющую тип и/или значение объекта, для которого он вызывается.
Интерпретатор JavaScript вызывает этот метод объекта во всех тех случаях, когда ему требуется преобразовать объект в строку. Например, это происходит, когда используется оператор + для конкатенации строки с объектом, или при передаче объекта такому методу, как alert()</p>
<p><strong>Метод valueOf()</strong></p>
<p>Метод valueOf() во многом похож на метод toString(), но вызывается, когда интерпретатору JavaScript требуется преобразовать объект в значение какого-либо
элементарного типа, отличного от строки, – обычно в число. Интерпретатор JavaScript вызывает этот метод автоматически, если объект используется в контексте
значения элементарного типа. По умолчанию метод valueOf() не выполняет ничего, что представляло бы интерес, но некоторые встроенные категории объектов
переопределяют метод valueOf() (например, Date.valueOf()).</p>
<p><strong>Метод hasOwnProperty()</strong></p>
<p>Метод hasOwnProperty() возвращает true, если для объекта определено не унаследованное свойство с именем, указанным в единственном строковом аргументе
метода. В противном случае он возвращает false.</p>
<p><strong>Метод propertyIsEnumerable()</strong></p>
<p>Метод propertyIsEnumerable() возвращает true, если в объекте определено свойство с именем, указанным в единственном строковом аргументе метода, и это свойство может быть перечислено циклом for/in. В противном случае метод возвращает false.</p>
<p>
	<code>var o = { x:1 };</code><br />
	<code>o.propertyIsEnumerable("x"); // true: свойство существует и является перечислимым</code><br />
	<code>o.propertyIsEnumerable("y"); // false: свойство не существует</code><br />
	<code>o.propertyIsEnumerable("valueOf"); // false: свойство неперечислимое</code><br />
</p>
<p>Обратите внимание: все свойства объекта, определяемые пользователем, являются перечислимыми.</p>
<p><strong>Метод isPrototypeOf()</strong></p>
<p>Метод isPrototypeOf() возвращает true, если объект, которому принадлежит метод, является прототипом объекта, передаваемого методу в качестве аргумента.
В противном случае метод возвращает false.</p>
<p>
	<code>var o = {};</code><br />
	<code>Object.prototype.isPrototypeOf(o); // true: o.constructor == Object</code><br />
	<code>Object.isPrototypeOf(o); // false</code><br />
	<code>o.isPrototypeOf(Object.prototype); // false</code><br />
	<code>Function.prototype.isPrototypeOf(Object); // true: Object.constructor == Function</code><br />
</p>