<h2>Загальні методи об'єктів у JavaScript</h2>

<p>Всі об'єкти в JavaScript успадковують властивості і методи класу Object. При цьому спеціалізовані класи об'єктів, як, наприклад, ті, що створюються за допомогою конструкторів Date() або RegExp(), визначають власні властивості і методи, але всі об'єкти незалежно від свого походження крім усього іншого підтримують властивості і методи, визначені класом Object.</p>

<h3>Властивість constructor</h3>

<p>У JavaScript будь-який об'єкт має властивість constructor, що посилається на функцію-конструктор, використану для ініціалізації об'єкту. Наприклад, якщо об'єкт d створюється за допомогою конструктора Date(), то властивість d.constructor посилається на функцію Date</p>
<p>
	<pre>var d = new Date();
	d.constructor == Date; // Равно true</pre>
</p>

<h3>Метод toString()</h3>

<p>Метод toString() не вимагає аргументів; він повертає рядок, яким-небудь чином представляє тип та / або значення об'єкта, для якого він викликається.
Інтерпретатор JavaScript викликає цей метод об'єкта у всіх тих випадках, коли йому потрібно перетворити об'єкт в рядок. Наприклад, це відбувається, коли використовується оператор + для конкатенації рядка з об'єктом, або при передачі об'єкта такому методу, як alert ()</p>

<h3>Метод valueOf()</h3>

<p>Метод valueOf() багато в чому нагадує метод toString(), але викликається, коли інтерпретатору JavaScript потрібно перетворити об'єкт в значення якого-небудь елементарного типу, відмінного від рядка, - зазвичай в число. Інтерпретатор JavaScript викликає цей метод автоматично, якщо об'єкт використовується в контексті
значення елементарного типу. За замовчуванням метод valueOf() не виконує нічого, що представляло б інтерес, але деякі вбудовані категорії об'єктів перевизначають метод valueOf() (наприклад, Date.valueOf()).</p>

<h3>Метод hasOwnProperty()</h3>

<p>Метод hasOwnProperty() повертає true, якщо об'єкт має вказану властивість, і вона не є успадкованою. В іншому випадку він повертає false.</p>

<h3>Метод propertyIsEnumerable()</h3>

<p>Метод propertyIsEnumerable() повертає true, якщо об'єкт має вказану властивість, і вона може бути використана у переліку циклом for/in. В іншому випадку метод повертає false.</p>
<p>
	<pre>var o = { x:1 };
	o.propertyIsEnumerable("x"); // true: свойство существует и является перечислимым
	o.propertyIsEnumerable("y"); // false: свойство не существует
	o.propertyIsEnumerable("valueOf"); // false: свойство неперечислимое</pre>
</p>
<p>Зверніть увагу: всі властивості об'єкта, визначені користувачем, можуть бути використані у переліку циклом for...in</p>

<h3>Метод isPrototypeOf()</h3>

<p>Метод isPrototypeOf() повертає true, якщо об'єкт, якому належить метод, є прототипом об'єкта, який передається методу в якості аргументу.
В іншому випадку метод повертає false.</p>
<p>
	<pre>var o = {};
	Object.prototype.isPrototypeOf(o); // true: o.constructor == Object
	Object.isPrototypeOf(o); // false
	o.isPrototypeOf(Object.prototype); // false
	Function.prototype.isPrototypeOf(Object); // true: Object.constructor == Function</pre>
</p>