<p>объекты создаются путем вызова специальных функций-конструкторов</p>
<p>
	<code>var o = new Object();</code><br />
	<code>var now = new Date();</code><br />
	<code>var pattern = new RegExp("\\sjava\\s", "i");</code><br />
</p>
<p>Создав собственный объект, можно его как угодно использовать и устанавливать его свойства</p>
<p>
	<code>var point = new Object();</code><br />
	<code>point.x = 2.3;</code><br />
	<code>point.y = -1.2;</code><br />
</p>
<p>JavaScript определяется синтаксис объектных литералов, позволяющий создавать объекты и указывать их свойства. Объектный литерал (также называемый инициализатором объекта) представляет собой список разделенных запятыми пар «свойство/значение», заключенный в фигурные скобки. Внутри пар роль разделителя играет двоеточие. Таким образом, объект point из предыдущего примера также может быть создан и инициализирован следующей строкой:</p>
<p><code>var point = { x:2.3, y:-1.2 };</code></p>
<p>Объектные литералы могут быть вложенными.</p>
<p><code>var rectangle = { upperLeft: { x: 2, y: 2 } };</code></p>
<p>Значениями свойств в объектных литералах не обязательно должны
быть константы – это могут быть произвольные JavaScript-выражения.</p>
<p><code>var square = { "upperLeft": { x:point.x, y:point.y } };</code></p>