<h2>JSON - JavaScript Object Notation</h2>

<p>Текстовий формат обміну даними, заснований на JavaScript і зазвичай використовуваний саме з цією мовою. Як і багато інших текстові формати, JSON легко читається людьми. Формат JSON був розроблений Дугласом Крокфорд.</p>

<p>У сучасних браузерах (для IE7- реалізуються бібліотекою) є чудові методи, знання тонкощів яких робить операції з JSON простими і комфортними.</p>

<p>Дані у форматі JSON (RFC 4627) являють собою значення або JavaScript-об'єкти {...} або масиви [...], що містять значення одного з типів:</p>

<ul>
	<li>рядки в подвійних лапках,</li>
	<li>число,</li>
	<li>логічне значення true/false,</li>
	<li>null.</li>
</ul>

<p>Об'єкти JSON відрізняються від звичайних JavaScript-об'єктів більш строгими вимогами до рядків - вони повинні бути саме в подвійних лапках.</p>

<h3>JSON.stringify і JSON.parse</h3>

<p>Метод JSON.stringify (value, replacer, space) перетворює («серіалізує») значення в JSON-рядок.</p>

<p>Він підтримується у всіх браузерах, включаючи IE8 +. Для старіших IE рекомендується бібліотека JSON-js, яка додає аналогічну функціональність.</p>

<p>Метод JSON.parse (str, replacer) читає JavaScript-значення з рядка.</p>

<p>У другому параметрі JSON.stringify (value, replacer) можна вказати масив властивостей, які підлягають серіалізації.</p>

<p>У методі JSON.stringify (value, replacer, space) є ще третій параметр space.</p>

<p>Якщо він є числом - то рівні вкладеності в JSON оформляються вказаною кількістю прогалин, якщо рядком - вставляється цей рядок.</p>

<p><pre>str = JSON.stringify(user, "", 4); // красиво серіалізований об'єкт</pre></p>



