<p><strong>JavaScript Object Notation</strong></p>
<p>Текстовый формат обмена данными, основанный на JavaScript и обычно используемый именно с этим языком. Как и многие другие текстовые форматы, JSON легко читается людьми. Формат JSON был разработан Дугласом Крокфордом.</p>
<p>В современных браузерах (для IE7- реализуются библиотекой) есть замечательные методы, знание тонкостей которых делает операции с JSON простыми и комфортными.</p>
<p>Данные в формате JSON (RFC 4627) представляют собой значения или JavaScript-объекты { ... } или массивы [ ... ], содержащие значения одного из типов:</p>
<ul>
	<li>строки в двойных кавычках,</li>
	<li>число,</li>
	<li>логическое значение true/false,</li>
	<li>null.</li>
</ul>
<p>Объекты JSON отличаются от обычных JavaScript-объектов более строгими требованиями к строкам — они должны быть именно в двойных кавычках.</p>
<p><strong>JSON.stringify и JSON.parse</strong></p>
<p>Метод JSON.stringify(value, replacer, space) преобразует («сериализует») значение в JSON-строку.</p>
<p>Он поддерживается во всех браузерах, включая IE8+. Для более старых IE рекомендуется библиотека JSON-js, которая добавляет аналогичную функциональность.</p>
<p>Метод JSON.parse(str, replacer) читает JavaScript-значение из строки.</p>
<p>Во втором параметре JSON.stringify(value, replacer) можно указать массив свойств, которые подлежат сериализации.</p>
<p>В методе JSON.stringify(value, replacer, space) есть ещё третий параметр space.</p>
<p>Если он является числом — то уровни вложенности в JSON оформляются указанным количеством пробелов, если строкой — вставляется эта строка.</p>
<p><code>str = JSON.stringify(user, "", 4); //красиво сериализованный объект</code></p>