<h2>Робота з об'єктами</h2>

<p>JavaScript спроектований за простою об'єктно-орієнтованою парадигмою. Об'єкт є сукупністю властивостей, і ці властивості є зв'язком між ім'ям (або ключем) і значенням. Властивість може бути функцією, і в цьому випадку властивість зветься методом. На додаток до об'єктів, що визначені в браузері, ви можете визначити свої власні об'єкти. Опишемо, як використовувати об'єкти, властивості, функції і методи, і як створювати свої власні об'єкти.
</p>

<p>Об'єкти в JavaScript, як і в багатьох інших мовах програмування, схожі на об'єкти реального життя. Концепцію об'єктів JavaScript легше зрозуміти проводячи паралеллі з реально існуючими в житті об'єктами.</p>

<p>У JavaScript, об'єкт — це самостійна одиниця, що має властивості і певний тип. Порівняємо наприклад з чашкою. У чашки є колір, форма, вага, і матеріал з якого вона зроблена і т.д. Точно так само, об'єкти JavaScript мають властивості які визначають їх характеристики.</p>


<h2>Об'єкти і властивості</h2>

<p>У JavaScript об'єкт має властивості асоційовані з ним. Властивість об'єкта можна розуміти як змінну, що закріплена за об'єктом. Властивості об'єкта по суті є тими ж самими змінними JavaScript, за тим винятком що вони закріплені за об'єктом. Властивості об'єкта визначають його характеристики. Отримати доступ до властивості об'єкта можна скориставшись слід. способом:
</p>

<pre>objectName.propertyName</pre>

<p>Як і всі змінні JavaScript,  ім'я об'єкта (яке теж може бути змінною) і ім'я властивості є чутливими до регістру. Ви визначаєте властивість, просто вказуючи її значення. Наприклад, давайте створимо об'єкт myCar і визначимо його властивості make, model, і year наступшим чином:</p>

<pre>var myCar = new Object();
myCar.make = "Ford";
myCar.model = "Mustang";
myCar.year = 1969;</pre>

<p>Доступ до властивостей об'єктів JavaScript можна отримати через квадратні дужки. Об'єкти є асоціативними масивами, оскільки кожна властивість асоційована з ім'ям, через яке можна отримати доступ до неї. Наприклад, доступ до властивостей об'єкта myCar можна отримати так:</p>

<pre>
myCar["make"] = "Ford";
myCar["model"] = "Mustang";
myCar["year"] = 1969;	
</pre>

<p>Імена властивостей об'єкта можуть бути валідними рядками JavaScript, або тим, що можна перетворити на рядок, включаючи і порожній рядок. Як би там не було, доступ до  імені властивості за невалідним JavaScript-ідентифікатором (наприклад ім'я властивості містить в собі прогалину і тире, або починається з цифри) може бути отриманий з використання квадратних дужок. Цей спосіб також корисний у разі, якщо імена властивостей визначаються динамічно в процесі виконання скрипта. Приклади:</p>

<pre>
var myObj = new Object(),
    str = "myString",
    rand = Math.random(),
    obj = new Object();

myObj.type              = "Dot syntax";
myObj["date created"]   = "String with space";
myObj[str]              = "String value";
myObj[rand]             = "Random Number";
myObj[obj]              = "Object";
myObj[""]               = "Even an empty string";

console.log(myObj);</pre>

<p>Ви також можете отримати доступ до властивості, скориставшись строковою змінною, в якій зберігається ім'я властивості:</p>

<pre>
var propertyName = "make";
myCar[propertyName] = "Ford";

propertyName = "model";
myCar[propertyName] = "Mustang";
</pre>

<p>
Можна користуватися квадратними дужками в конструкції <code>for ... in</code>, щоб виконати ітерацію (тобто перелічити) усі ті властивості об'єкта, для яких це дозволено. Наступна функція показує всі властивості об'єкта, коли ви передаєте в неї сам об'єкт і його ім'я як аргументи (пареметри) функції:	
</p>

<pre>
function showProps(obj, objName) {
  var result = "";
  for (var i in obj) {
    if (obj.hasOwnProperty(i)) {
        result += objName + "." + i + " = " + obj[i] + "\n";
    }
  }
  return result;
}</pre>

<p>Якщо викликати цю функцію ось так: <code>showProps(myCar, "myCar")</code>, то отримаємо результат:</p>

<pre>
myCar.make = Ford
myCar.model = Mustang
myCar.year = 1969	
</pre>

<h3>Майже все в JavaScript є об'єктом</h3>
<p>У JavaScript майже все є об'єктом. Всі примітивні типи (за винятком null) і undefined обробляються як об'єкти. Вони можуть мати властивості, і у них є всі характеристики, притаманні об'єктам.</p>

<h3>Як перелічити усі властивості об'єкта?</h3> 

<p>Починаючи зі стандарту ECMAScript 5, є три стандартних способи для переліку властивостей об'єкта:</p> 

<ol>
<li>Цикл for ... in — цей метод проходить всі властивості об'єкта (які дозволено перераховувати) і його ланцюга прототипів.</li> 
<li>Object.keys(о) — Цей метод повертає масив з іменами всіх власних (тобто тих, що не знаходяться у ланцюзі прототипів) перелічуваних властивостей ("ключів", "keys") об'єкта o.</li> 
<li>Object.getOwnPropertyNames(о) — Цей метод повертає масив з іменами всіх власних властивостей (перераховуваних чи ні) об'єкта O.</li> 
</ol>

<p>До ECMAScript 5 не було стандартного способу для переліку всіх властивостей об'єкта. Результат досягався такими функціями, як наступна:</p>

<pre>function listAllProperties(o){     
	var objectToInspect;     
	var result = [];
	
	for(objectToInspect = o; objectToInspect !== null; objectToInspect = Object.getPrototypeOf(objectToInspect)){  
		result = result.concat(Object.getOwnPropertyNames(objectToInspect));  
	}
	
	return result; 
}</pre>

<p>Це може бути корисним для знаходження "прихованих" властивостей (тих властивостей в ланцюзі прототипів, які не доступні через об'єкт, бо інша властивість має те ж саме ім'я раніше в ланцюжку прототипів). Список доступних властивостей можна легко зробити за допомогою видалення дублікатів в масиві.</p>

<p>Посилання: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Working_with_Objects</p>

