<p>Обычно для доступа к значениям свойств объекта используется оператор . (точка). Значение в левой части оператора должно быть ссылкой на объект, к свойствам которого требуется получить доступ. Обычно это просто имя переменной, содержащей ссылку на объект, но это может быть любое допустимое в JavaScript
выражение, являющееся объектом. Значение в правой части оператора должно
быть именем свойства. Это должен быть идентификатор, а не строка или выражение.</p>
<p>Свойства объекта работают как переменные: в них можно сохранять значения
и считывать их.</p>
