<h2>Властивості Object</h2>

<p>Зазвичай для доступу до значень властивостей об'єкта використовується оператор. (крапка). Значення в лівій частині оператора має бути посиланням на об'єкт, до властивостей якого потрібно отримати доступ. Зазвичай це просто ім'я змінної, що містить посилання на об'єкт, але це може бути будь-яким припустимим в JavaScript виразом, що є об'єктом. Значення в правій частині оператора має бути ім'ям властивості. Це повинен бути ідентифікатор, а не рядок або вираз.</p>

<p>Властивості об'єкта працюють як змінні: у них можна зберігати значення і зчитувати їх. </p>

<h3>Object.prototype</h3>

<h4>Атрибути властивостей Object.prototype</h4>
<ul><li>Writable: no</li>
<li>Enumerable: no</li>
<li>Configurable: no</li>
</ul>

<h4>Опис </h4>

<p>Всі об'єкти в JavaScript є нащадками Object; всі об'єкти успадковують властивості і методи від Object.prototype, хоча вони можуть бути перекриті. Наприклад, прототипи інших конструкторів перевизначають властивість 'constructor' і забезпечують свої власні методи toString(). Зміни в прототипові об'єкта Object поширюються на всі об'єкти, якщо тільки властивості і методи, пов'язані з цими змінами, не перекриваються далі по ланцюжку прототипів.</p>

<h4>Властивості Object.prototype</h4>

<p><code>Object.prototype.constructor</code> — визначає функцію, яка створює прототип об'єкта.</p>

<h3>Object.prototype.constructor</h3>

<p>Повертає посилання на об'єкт функції, яка створила прототип екземпляра. Зверніть увагу, що значення цієї властивості є посилання на саму функцію, а не на рядок, що містить ім'я функції. Це — значення тільки для читання для примітивних значень, таких як 1, true і "тест".</p>

<h4>Опис</h4>

<p>Всі об'єкти успадковують властивість конструктора з їхніх прототипів:</p>

<p><pre>
var o = {};
o.constructor === Object; // true

var a = [];
a.constructor === Array; // true

var n = new Number(3);
n.constructor === Number; // true
</pre>
</p>

<h4>Приклад: відображення конструктора об'єкта</h4>

<p>У наступному прикладі створюється прототип, дерево, і об'єкт цього типу, theTree. Потім приклад показує властивість конструктора для об'єкта theTree.</p>

<pre>
function Tree(name) {
  this.name = name;
}

var theTree = new Tree('Redwood');
console.log('theTree.constructor is ' + theTree.constructor);
</pre>

<p>Цей приклад показує наступне:</p>

<pre>theTree.constructor is function Tree(name) {
  this.name = name;
}</pre>


<p>Посилання: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/constructor</p>
