<h2>Властивості</h2>

<p>Зазвичай для доступу до значень властивостей об'єкта використовується оператор. (крапка). Значення в лівій частині оператора має бути посиланням на об'єкт, до властивостей якого потрібно отримати доступ. Зазвичай це просто ім'я змінної, що містить посилання на об'єкт, але це може бути будь-яким припустимим в JavaScript виразом, що є об'єктом. Значення в правій частині оператора має бути ім'ям властивості. Це повинен бути ідентифікатор, а не рядок або вираз.</p>

<p>Властивості об'єкта працюють як змінні: у них можна зберігати значення і зчитувати їх. </p>

<!-- FIXME TODO -->