<h3>Методы массивов</h3>
<p><strong>Array.join()</strong></p>
<p>Метод Array.join() преобразует все элементы массива в строки и объединяет их.
Можно указать необязательный строковый аргумент, предназначенный для разделения элементов в результирующей строке. Если разделитель не задан, используется запятая.</p>
<code>var a = [1, 2, 3].join();</code>
<p><strong>String.split()</strong></p>
<p>Создает массив путем разбиения строки на фрагменты.</p>
<code>var strArr = 'Hello'.split('');</code>
<p><strong>Array.reverse()</strong></p>
<p>Меняет порядок следования элементов в массиве на противоположный и возвращает массив с переставленными элементами.</p>
<code>'Hello'.split('').reverse().join('');</code>
<p><strong>Array.sort()</strong></p>
<p>Cортирует элементы массива и возвращает отсортированный массив. Если метод sort() вызывается без аргументов, то он сортирует
элементы массива в алфавитном порядке</p>
<code>var a = new Array("banana", "cherry", "apple").sort().join(', ');</code>
<p>Для сортировки в каком-либо ином порядке, отличном от алфавитного, можно передать методу sort() в качестве аргумента функцию сравнения. Эта функция
устанавливает, какой из двух ее аргументов должен присутствовать раньше в отсортированном списке. Если первый аргумент должен предшествовать второму,
функция сравнения возвращает отрицательное число. Если первый аргумент
в отсортированном массиве должен следовать за вторым, то функция возвращает число, большее нуля. А если два значения эквивалентны (т. е. порядок их расположения не важен), функция сравнения возвращает 0.</p>
<code>var a = [33, 4, 1111, 222];</code><br/>
<code>a.sort(function(a,b) {</code><br/>
<code>return a-b;</code><br/>
<code>});</code><br/>
<p><strong>Array.concat()</strong></p>
<p>Создает и возвращает новый массив, содержащий элементы
исходного массива, для которого был вызван метод concat(), последовательно дополненный значениями всех аргументов, переданных методу concat(). Если какой-либо из этих аргументов сам является массивом, в результирующий массив
добавляются его элементы.</p>
<code>var a = [1,2,3];</code><br/>
<code>a.concat(4, 5); </code>// [1,2,3,4,5]<br/>
<code>a.concat([4,5]);</code>// [1,2,3,4,5]<br/>
<code>a.concat([4,5],[6,7]);</code>// [1,2,3,4,5,6,7]<br/>
<code>a.concat(4, [5,[6,7]])</code>// [1,2,3,4,5,[6,7]]<br/>
<p><strong>Array.slice()</strong></p>
<p>Возвращает фрагмент, или подмассив, указанного массива.
Два аргумента метода определяют начало и конец возвращаемого фрагмента.
Возвращаемый массив содержит элемент, номер которого указан в качестве первого аргумента, плюс все последующие элементы, вплоть до (но не включая) элемента, номер которого указан во втором аргументе. Если указан только один аргумент, возвращаемый массив содержит все элементы от начальной позиции до
конца массива. Если какой-либо из аргументов отрицателен, он задает номер
элемента массива относительно конца массива. Так, аргумент, равный –1, задает
последний элемент массива, а аргумент, равный –3, – третий элемент массива
с конца.</p>
<code>var a = [1,2,3,4,5];</code><br/>
<code>a.slice(0,3);</code>// [1,2,3]<br/>
<code>a.slice(3);</code>// [4,5]<br/>
<code>a.slice(1,-1);</code>// [2,3,4]<br/>
<code>a.slice(-3,-2);</code>// [3]<br/>
<p><strong>Array.splice()</strong></p>
<p>Метод для вставки или удаления элементов массива. Он изменяет массив на месте, а не возвращает новый массив,
как это делают методы slice() и concat().</p>
<p>Первый аргумент splice() задает позицию в массиве, с которой начинается вставка и/или удаление. Второй аргумент задает количество элементов, которые должны быть удалены (вырезаны) из массива. Если
второй аргумент опущен, удаляются все элементы массива от начального до конца массива. Метод splice() возвращает массив удаленных элементов или (если
ни один из элементов не был удален) пустой массив.</p>
<code>var a = [1,2,3,4,5,6,7,8];</code><br/>
<code>a.splice(4);</code>// [5,6,7,8], equal [1,2,3,4]<br/>
<code>a.splice(1,2);</code>// [2,3], equal [1,4]<br/>
<code>a.splice(1,1);</code>// [4], equal [1]<br/>
<p>Первые два аргумента splice() задают элементы массива, подлежащие удалению. За этими аргументами может следовать любое количество дополнительных
аргументов, задающих элементы, которые будут вставлены в массив, начиная
с позиции, заданной первым аргументом.</p>
<code>var a = [1,2,3,4,5];</code><br/>
<code>a.splice(2,0,'a','b');</code>// [], equal [1,2,'a','b',3,4,5]<br/>
<code>a.splice(2,2,[1,2],3);</code>// ['a','b'], equal [1,2,[1,2],3,3,4,5]<br/>
<p><strong>Методы push() и pop()</strong></p>
<p>Методы push() и pop() позволяют работать с массивами как со стеками. Метод
push() добавляет один или несколько новых элементов в конец массива и возвращает его новую длину. Метод pop() выполняет обратную операцию – удаляет последний элемент массива, уменьшает длину массива и возвращает удаленное им
значение. Обратите внимание: оба эти метода изменяют массив на месте, а не
создают его модифицированную копию.</p>
<p><strong>Методы unshift() и shift()</strong></p>
<p>Вставляют и удаляют элементы в начале массива.</p>
<p><strong>Метод toString()</strong></p>
<p>Для массива метод преобразует каждый из его элементов в строку (вызывая
в случае необходимости методы toString() для элементов массива) и выводит список этих строк через запятую.</p>
<code>[1,2,3].toString()</code>