<h3>Методи масивів</h3>

<h4>Array.join()</h4>

<p>Метод Array.join([separator]) перетворює всі елементи масиву в рядки і об'єднує їх. Можна вказати необов'язковий строковий аргумент separator, призначений для розділення елементів в результуючому рядку. Якщо роздільник не заданий, використовується кома.</p>

<pre>var a = [1, 2, 3].join();</pre>

<h4>String.split()</h4>

<p>Створює масив шляхом розбиття рядка на фрагменти.</p>

<pre>var strArr = 'Hello'.split('');</pre>

<h4>Array.reverse()</h4>

<p>Змінює порядок елементів в масиві на протилежний і повертає масив з переставленими елементами.</p>

<pre>'Hello'.split('').reverse().join('');</pre>

<h4>Array.sort()</h4>

<p>Cортує елементи масиву і повертає відсортований масив. Якщо метод сортування викликається без аргументів, то він сортує елементи масиву в алфавітному порядку</p>

<pre>var a = new Array("banana", "cherry", "apple").sort().join(', ');</pre>

<p>Для сортування в якому-небудь іншому порядку, відмінному від алфавітного, можна передати методу sort() як аргумент функцію порівняння. Ця функція встановлює, який із двох її аргументів повинен бути присутнім раніше в відсортованому списку. Якщо перший аргумент повинен передувати другому, функція порівняння повертає негативне число. Якщо перший аргумент в відсортованому масиві повинен слідувати за другим, то функція повертає число, більше нуля. А якщо два значення еквівалентні (тобто порядок їх розташування не важливий), функція порівняння повертає 0.</p>

<pre>var a = [33, 4, 1111, 222];
a.sort(function(a,b) { 
return a-b; 
});</pre>

<h4>Array.concat()</h4>

<p>Поєднує масив з іншими елементами. Створює і повертає новий масив, що містить елементи вихідного масиву, для якого був викликаний метод concat(), послідовно доповнений значеннями всіх аргументів, переданих методом concat(). Якщо який-небудь з цих аргументів сам є масивом, в результуючий масив додаються його елементи.</p>

<pre>var a = [1,2,3];
a.concat(4, 5); // [1,2,3,4,5]
a.concat([4,5]); // [1,2,3,4,5]
a.concat([4,5],[6,7]); // [1,2,3,4,5,6,7]
a.concat(4, [5,[6,7]]) // [1,2,3,4,5,[6,7]]
</pre>

<h4>Array.slice(start, end) - відрізати скибку</h4>

<p>Повертає фрагмент, або підмасив зазначеного масиву. Два аргументи методу визначають початок і кінець возвращаемого фрагмента. Повернутий масив містить елемент, номер якого вказаний в якості першого аргументу, плюс всі наступні елементи, аж до (але не включаючи) елемента, номер якого вказаний у другому аргументі. Якщо вказано тільки один аргумент, то повертаються всі елементи від початкової позиції до кінця масиву. Якщо який-небудь з аргументів негативний, він задає номер елемента щодо кінця масиву. Так, аргумент, рівний -1, задає останній елемент масиву, а аргумент, рівний -3, - третій елемент масиву з кінця.</p>

<pre>var a = [1,2,3,4,5];
a.slice(0,3); // [1,2,3]
a.slice(3); // [4,5]
a.slice(1,-1); // [2,3,4]
a.slice(-3,-2);</pre>// [3]

<h4>Array.splice() - з'єднання, або зрощування масивів</h4>

<p>Потужний метод для вставки або видалення елементів масиву. Він змінює масив на місці, а не повертає новий масив, як це роблять методи slice() і concat().</p>

<p>Перший аргумент splice() задає позицію в масиві, з якої починається вставка і/або видалення. Другий аргумент задає кількість елементів, які мають бути видалені з масиву. Якщо другий аргумент опущений, видаляються всі елементи масиву від початкового до кінця масиву. Метод splice() повертає масив видалених елементів або, якщо жоден з елементів не було видалено — порожній масив.</p>

<p>Перші два аргументи splice() задають елементи масиву, що підлягають видаленню. За цими аргументами може слідувати будь-яку кількість додаткових аргументів, які задають елементи, які будуть вставлені в масив, починаючи з позиції, заданої першим аргументом.</p>

<pre>var a = [1,2,3,4,5,6,7,8]; 
a.splice(4); // [5,6,7,8], equal [1,2,3,4]
a.splice(1,2); // [2,3], equal [1,4]
a.splice(1,1); // [4], equal [1]
</pre>

<pre>var a = [1,2,3,4,5]; 
a.splice(2,0,'a','b'); // [], equal [1,2,'a','b',3,4,5]
a.splice(2,2,[1,2],3); // ['a','b'], equal [1,2,[1,2],3,3,4,5]
</pre>

<h4>Array.push() і Array.pop()</h4>

<p>Методи push() і pop() дозволяють працювати з масивами як зі стеками. Метод push() додає один або кілька нових елементів в кінець масиву і повертає його нову довжину. Метод pop() виконує зворотну операцію — видаляє останній елемент масиву, зменшує довжину масиву і повертає видалений елемент. Зверніть увагу: обидва ці методи змінюють масив на місці, а не створюють його модифіковану копію.</p>

<h4>Array.unshift() і Array.shift() - зсув вліво</h4>

<p>Вставляють і видаляють елементи на початку масиву.</p>

<p>Array.unshift() вставляє елемент на початку і повертає нову довжину масиву.</p>
<p>Array.shift() виштовхує елемент з початку масиву і повертає цей елемено.</p>

<pre>
var primes = [1,3,5,7,11];
var a = primes.shift();
Core.Print(a); // 1
Core.Print(primes); // [3,5,7,11]
a = primes.shift();
Core.Print(a); // 3
Core.Print(primes); // [5,7,11]

var b = primes.unshift(a);
Core.Print(b); // 4
Core.Print(primes); // [3,5,7,11]
</pre>

<h4>Метод toString()</h4>

<p>Перетворює кожен з елементів масиву на рядок, викликаючи в разі необхідності методи toString () для елементів масиву і виводить список цих рядків через кому.</p>

<pre>[1,2,3].toString()</pre>
