<h2>Масив у Javascript</h2>

<p>Масив - це тип даних, що зберігає пронумеровані значення. Кожне пронумероване значення називається елементом масиву, а число, з яким зв'язується елемент, називається його індексом. Оскільки JavaScript — це нетипізована мову, то елемент масиву може мати будь-який тип, причому різні елементи одного масиву можуть мати різні типи. Елементи масиву можуть навіть містити інші масиви, що дозволяє створювати масиви масивів.</p>
<h3>Cтворення масивів</h3>
<p>Масив може бути створений за допомогою літерала [] або функції конструктора-Array(). Створеному масиву допустимо привласнювати будь-яку кількість індексованих елементів.</p>
<pre>var a = new Array();
a[0] = 1.2;
a[1] = "JavaScript";
a[2] = true;
</pre>

<p>Масиви можуть також бути ініціалізовані шляхом передачі елементів масиву конструктору <strong>Array()</strong>.</p>
<pre>var a = new Array(1.2, "JavaScript", true);</pre>

<p>Якщо передати конструктору Array() тільки одне число, то воно визначає довжину масиву.</p>
<pre>var a = new Array(10);</pre>

<p>Найлегше створити масив можна за допомогою літерала, який є простим списком розділених комами елементів масиву в квадратних дужках.</p>

<pre>var nums = [2, 3, 5, 7, 11];</pre>

<p>Масив з 2 елементів, обидва не визначені.</p>

<pre>var undefs = [,,];</pre>

<h3>Читання і запис</h3>

<p>Доступ до елементів масиву здійснюється за допомогою оператора []. Зліва від дужок повинна бути присутнім посилання на масив. Усередині дужок має знаходитися довільний вираз, що має невід'ємне ціле значення (індекс).</p>

<pre>value = a[0];
a[1] = 3.14;
i = 2;
a[i] = 3;
a[i + 1] = "hello";
a[a[i]] = a[0];</pre>

<p>Якщо індекс занадто великий, негативний або дійсний (або це логічне, об'єктне або інше значення), то JavaScript перетворює його в рядок і розглядає результуючий рядок як ім'я властивості об'єкта, а не як індекс масиву: <code>a[-1.23] = true;</code> - створює нову властивість з ім'ям "-1.23", а не новий елемент масиву.</p>

<h3>Довжина масиву</h3>
<p>Всі масиви мають спеціальну властивість length, що встановлює кількість елементів у масиві. Максимально можливе значення властивості length дорівнює 2<sup>32</sup>–1.</p>

<pre>var a = new Array();
a = new Array(1,2,3);
a = [4, 5];
a[49] = 0;
</pre>

<p>Чому буде дорівнювати довжина масиву в прикладі?</p>
<p>Властивість length масиву доступна як для читання, так і для запису. Якщо встановити властивість length в значення, менше поточного, масив коротшає до нової довжини; будь-які елементи, які не потрапляють в новий діапазон індексів, відкидаються, і їх значення втрачаються.</p>

<p>Якщо зробити властивість length більшим за її поточне значення, то в кінець масиву додаються нові невизначені елементи, збільшуючи масив до нового розміру.</p>

<!-- TODO: STOPPEDHERE -->
