<p>Массив – это тип данных, содержащий (хранящий) пронумерованные значения.
Каждое пронумерованное значение называется элементом массива, а число, с которым связывается элемент, называется его индексом. Так как JavaScript – это
нетипизированный язык, элемент массива может иметь любой тип, причем разные элементы одного массива могут иметь разные типы. Элементы массива могут
даже содержать другие массивы, что позволяет создавать массивы массивов.</p>
<h3>Создание массивов</h3>
<p>Массив может быть создан с помощью функции-конструктора <strong>Array()</strong>. Созданному
массиву допустимо присваивать любое количество индексированных элементов</p>
<code>var a = new Array();</code><br/>
<code>a[0] = 1.2;</code><br/>
<code>a[1] = "JavaScript";</code><br/>
<code>a[2] = true;</code><br/>
<p>Массивы могут также быть инициализированы путем передачи элементов массива конструктору <strong>Array()</strong>.</p>
<code>var a = new Array(1.2, "JavaScript", true);</code><br/>
<p>Если передать конструктору Array() только одно число, оно определит длину
массива.</p>
<code>var a = new Array(10);</code><br/>
<p>Легче всего создать массив можно с помощью литерала, который представляет
собой простой список разделенных запятыми элементов массива в квадратных
скобках.</p>
<code>var nums = [2, 3, 5, 7, 11];</code><br />
<p>Массив из 2 элементов, оба не определены.</p>
<code>var undefs = [,,];</code>
<h3>Чтение и запись</h3>
<p>Доступ к элементам массива осуществляется с помощью оператора []. Слева от
скобок должна присутствовать ссылка на массив. Внутри скобок должно находиться произвольное выражение, имеющее неотрицательное целое значение (индекс).</p>
<code>value = a[0];<br />
a[1] = 3.14;<br />
i = 2;<br />
a[i] = 3;<br />
a[i + 1] = "hello";<br />
a[a[i]] = a[0];</code>
<p>Если индекс слишком большой, отрицательный или вещественный
(или это логическое, объектное или другое значение), JavaScript преобразует его
в строку и рассматривает результирующую строку как имя свойства объекта,
а не как индекс массива. <br />
<code>a[-1.23] = true;</code>  - создаст новое свойство с именем "–1.23", а не новый элемент массива.</p>
<h3>Длина массива</h3>
<p>Все массивы имеют специальное свойство length, устанавливающее количество элементов в массиве. Максимально
возможное значение свойства length равно 2 <sup>32</sup>–1.</p>
<code>var a = new Array();</code><br/>
<code>a = new Array(1,2,3);</code><br/>
<code>a = [4, 5];</code><br/>
<code>a[49] = 0;</code><br/>
<p>Чему будет равна длина массива в примере?</p>
<p>Свойство length массива доступно как для чтения, так и для записи. Если установить свойство length в значение, меньшее текущего, массив укорачивается до новой длины; любые элементы, не попадающие в новый диапазон индексов, отбрасываются, и их значения теряются.</p>
<p>Если сделать свойство length большим, чем его текущее значение, в конец массива добавляются новые неопределенные элементы, увеличивая массив до нового
размера.</p>
