<h2>Тип масив — Array</h2>

<p>Масив (array), як і об'єкт, є колекцією значень. Але якщо кожне значення, що міститься в об'єкті, має ім'я, то в масиві кожне значення має номер, або індекс. У JavaScript можна брати значення з масиву, вказавши після імені масиву індекс, укладений у квадратні дужки:</p>
<pre>
var plainNumbersSrray = [1, 2, 3, 5, 7, 11, 13];
var thirdElement = arr[2];
</pre>

<p>Нумерація елементів масиву починається з нуля, тому у прикладі вище написано [2], а не [3] для отримання третього елементу.</p>

<p>Масиви можуть містити будь-який тип даних JavaScript, в тому числі посилання на інші масиви або на об'єкти або функції.</p>
