<h2>Тип дати — Date</h2>

<p>У JavaScript є клас об'єктів Data для роботи з датами і часом. Об'єкт дати в JavaScript створюється за допомогою оператора <code>new</code> і конструктора <code>Date()</code>. Ось як відбувається створення об'єкта, в якому зберігаються поточні дата і час:</p>

<pre>var now = new Date();</pre>

<p>Методи об'єкта Data дозволяють отримувати і встановлювати різні значення дати і часу і перетворювати дату в рядок.</p>

<p>Дата вимірюється в мілісекундах, починаючи від півночі 1 січня 1970: GMT + 0. Один день містить 86,400,000 мілісекунд. Об'єкт дати підтримує як методи для роботи в зоні UTC (GMT + 0), так і методи для роботи з місцевим (локальним) часом. Місцевий час - це той, що встановлено на комп'ютері, на якому виконується код.</p>

<p>TODO: Далі буде...</p>