<p>В ECMAScript определяется несколько классов для представления ошибок.
При возникновении ошибки времени выполнения интерпретатор JavaScript «генерирует» объект одного из этих типов.</p>
<p>Каждый объект
ошибки имеет свойство message, которое содержит зависящее от реализации сообщение об ошибке. Заранее определены следующие типы объектов ошибок –
<ul>
	<li>EvalError(Ошибка при выполнении eval())</li>
	<li>RangeError(Эта ошибка происходит, когда переданный параметр лежит за границами допустимого диапазона)</li>
	<li>ReferenceError(Ошибка при разыменовании неверной ссылки)</li>
	<li>SyntaxError(Синтаксическая ошибка, которая произошла при разборе кода, переданного eval())</li>
	<li>TypeError(Переменная или параметр неправильного типа)</li>
	<li>URIError(Ошибка происходит, когда encodeURI() или decodeURI() вызваны с неправильными параметрами)</li>
</ul>
</p>