<h2>Тип даних 'помилка' — Error</h2>

<p>В ECMAScript (стандарті, за яким створено JavaScript) є декілька класів для роботи з помилками. При виникненні помилки під час виконання (run-time error) інтерпретатор JavaScript «генерує» об'єкт одного з цих типів.</p>
<p>Кожен об'єкт помилки має властивість message, що містить повідомлення про помилку (залежне від реалізації). Заздалегідь визначено наступні типи об'єктів помилок:</p>
<ul>
	<li>EvalError (помилка при виконанні eval())</li>
	<li>RangeError (ця помилка виникає, коли переданий параметр лежить за межами допустимого діапазону)</li>
	<li>ReferenceError (помилка невірного посилання)</li>
	<li>SyntaxError (синтаксична помилка, яка сталася при розборі коду, переданого eval())</li>
	<li>TypeError (змінна або параметр неправильного типу)</li>
	<li>URIError (помилка виникає, коли encodeURI() або decodeURI() викликаються з неправильними параметрами)</li>
</ul>