<p>Функція - це фрагмент коду, який визначений програмістом або визначений заздалегідь у реалізації JavaScript (наприклад, <code></code>>Math.abs())</code></p>

<p>У функції можуть передаватися параметри (аргументи) для обробки даною функцією (наприклад, обчислень); також функція може повертати значення, що представляє собою результат цих обчислень.</p>

<p>Функції можуть зберігатися в змінних, масивах та об'єктах, а також передаватися у якості аргументів інших функцій (callbacks - функції зворотнього викликуі).</p>
