<p>Функция – это фрагмент исполняемого кода, который определен в JavaScript или заранее предопределен в реализации JavaScript (Ex., Math.abs()).</p>
<p>В функции могут передаваться аргументы, или параметры, определяющие значение или значения, для которых она должна выполнять вычисления; также функция может возвращать значение, представляющее собой результат этих вычислений.</p>
<p>Функции могут храниться в переменных, массивах
и объектах, а также передаваться в качестве аргументов другим функциям (callbacks).</p>