<p>Вітаємо! Тут ви знайдете декілька базових уроків з Javasript. </p>

<h2>Програма</h2>

<p>Цей курс складається з тем, уроків, домашніх завдань та відеозаписів. Щоб почати роботу, виберіть тему для вивчення у меню (зліва), або завантажте один з файлів уроків (див. нижче)</p>

<h2>Уроки і домашня робота</h2>

<p>Ось — файли уроків курсу JavaScript для початківців. У кінці кожного файлу ви знайдете домашнє завдання. Опануйте урок і виконайте домашню роботу перед тим, як перейти до наступного:</p>

<ol>
  <li><a href="lessons/01/l-01.js">Файл l-01.js</a>. Теми: Мова і типи даних  JavaScript.</li>
  <li><a href="lessons/02/l-02.js">Файл l-02.js</a>. Теми: Прості типи даних.</li>
  <li><a href="lessons/03/l-03.js">Файл l-03.js</a>. Теми: Спеціальні та складні типи даних, області видимости.</li>
  <li><a href="lessons/04/l-04.js">Файл l-04.js</a>. Теми: Оголошення змінних та функцій, глобальне та локальне, ланцюги видимости.</li>
  <li><a href="lessons/05/l-05.js">Файл l-05.js</a>. Теми: Вирази і оператори.</li>
  <li><a href="lessons/06/l-06.js">Файл l-06.js</a>. Теми: Оператори, оптимізація коду, поняття рефакторингу.</li>
  <li><a href="lessons/07/l-07.js">Файл l-07.js</a>. Теми: Інструкції, базові методи масивів.</li>
  <li><a href="lessons/08/l-08.js">Файл l-08.js</a>. Теми: Просунуті методи масивів.</li>
  <li><a href="lessons/09/l-09.js">Файл l-09.js</a>. Теми: Об'єкти: створення, властивості, методи, JSON, DOM та BOM</li>
  <li><a href="lessons/10/l-10.js">Файл l-10.js</a>. Теми: Функції: види визначень, параметри та області видимости, стек викликів, замикання, побічні ефекти.</li>
  <li><a href="lessons/11/l-11.js">Файл l-11.js</a>. Теми: Приклади замикань, анонімні функції, рекурсія.</li>
  <li><a href="lessons/12/l-12.js">Файл l-12.js</a>. Теми: Деякі шаблони JavaScript.</li>
  <li><a href="lessons/13/l-13.js">Файл l-13.js</a>. Теми: Регулярні вирази.</li>
  <li><a href="lessons/14/l-14.js">Файл l-14.js</a>. Теми: Практичне використання колбеків і замикань на прикладі простого застосунку.</li>
</ol>

<h2>Література</h2>
<p>Є багато гарних книжок з Javascript. Наведемо улюблену:</p>

<h3>Eloquent Javascript</h3>

<p><a href="http://eloquentjavascript.net/"><img src="lessons/10/eloquent-js-cover.png" /></a></p>

<p>Ця сучасна книга написана яскравою мовою, має багато цікавих прикладів, є <a href="http://eloquentjavascript.net/Eloquent_JavaScript.pdf">безкоштовна PDF-версія</a></p>

<h2>Відеозаписи</h2>

<p>Також ви можете передивитися <a href="https://drive.google.com/a/globallogic.com/folderview?id=0B1wXyS6lC7g2U0RVcDZ6blNmTTA&usp=sharing">відеозаписи</a> (увага: доступ може бути обмеженим).</p>

<h2>Known Issues</h2>

<ol>
  <li>Файли уроків покривають не усі теми, а переважно базові. Для глибшого вивчення варто пройтися по усих темах у меню зліва, навіть якщо ви пройшли усі уроки.</li>
  <li>Цей курс доповнюється новими матеріалами.</li>
  <li>В файлах уроків згадуєьться Shell. Де його взяти, ви можете дізнатися у свого менеджера. Але це не обов'язково для проходження курсу.</li>
  <li>Деякі уроки них ще чекають перекладу з англійської чи російської мови (ви можете допомогти з цим).</li>
</ol>

<p>Щасти!</p>
