<h2>Типи даних у JavaScript</h2>

<p>JavaScript має три елементарних типи даних: <a href="#dataTypes/number">числа</a>, <a href="#dataTypes/string">рядки</a> та <a href="#dataTypes/boolean">логічні значення</a>.</p>

<p>В JavaScript також визначаються два тривіальних типу даних, <a href="#dataTypes/nullundef">null</a> і <a href="#dataTypes/nullundef">undefined</a>, кожен з них може мати тільки одне значення.</p>

<p>На додаток до цих елементарних типів даних, JavaScript підтримує складний тип даних <a href="#dataTypes/special">об'єкт</a>.</p>

<p>У JavaScript є також спеціальний тип об'єкту: <a href="#dataTypes/function">функція</a>.</p>