<p>JavaScript позволяет работать с тремя элементарными типами данных: <a href="#dataTypes/number">числами</a>,
<a href="#dataTypes/string">строками</a> и <a href="#dataTypes/boolean">логическими значениями</a>.</p>
<p>В JavaScript также определяются два
тривиальных типа данных, <a href="#datatypes/nullundef">null</a> и <a href="#datatypes/nullundef">undefined</a>, каждый из которых определяет
только одно значение.</p>
<p>В дополнение к этим элементарным типам данных JavaScript поддерживает составной тип данных, известный как <a href="#datatypes/special">объект</a>.</p>
<p>В JavaScript определен еще один специальный тип объекта, известный как функция (<a href="#datatypes/function">function</a>).</p>


