<h2>Тривіальні типи даних 'null' та 'undefined'</h2>

<p>Ключове слово <strong>null</strong> має спеціальний сенс. Зазвичай вважається, що у значення <strong>null</strong> об'єктний тип і воно говорить про відсутність об'єкта. Значення <strong>null</strong> унікальне і відрізняється від будь-яких інших. Якщо змінна дорівнює <strong>null</strong>,
то в ній не міститься допустимого об'єкта, масиву, числа, рядки або логічного значення.

Коли значення <strong>null</strong> використовується в логічному контексті, воно перетвориться в значення брехня (false), в числовому контексті воно перетвориться в значення 0, а в рядковому  контексту — у "нульовий" рядок "null".</p>
<p><strong>Undefined</strong> ('невизначене') повертається при зверненні або до змінної, яка була оголошена, але їй ніколи не присвоювалося значення, або до властивості об'єкта, якої не існує. Undefined – це не те ж саме, що null.

Хоча значення null і undefined не еквівалентні один одному, оператор еквівалентності == вважає їх рівними. Коли значення undefined використовується в логічному контексті, воно перетвориться в значення брехня - false. У числовому контексті - в значення NaN, а у строковому – у рядок "undefined".</p>