<p>Ключевое слово <strong>null</strong> имеет специальный смысл. Обычно считается,
что у значения <strong>null</strong> объектный тип и оно говорит об отсутствии объекта. Значение <strong>null</strong> уникально и отличается от любых других. Если переменная равна <strong>null</strong>,
следовательно, в ней не содержится допустимого объекта, массива, числа, строки или логического значения.
Когда значение <strong>null</strong> используется в логическом контексте, оно преобразуется
в значение false, в числовом контексте оно преобразуется в значение 0, а в строковом контексте — в строку "null".</p>
<p><strong>Undefined</strong> возвращается при обращении либо к переменной, которая была объявлена,
но которой никогда не присваивалось значение, либо к свойству объекта, которое не существует. Undefined – это не то же
самое, что null.
Хотя значения null и undefined не эквивалентны друг другу, оператор эквивалентности == считает их равными. Когда значение undefined используется в логическом контексте, оно 
преобразуется в значение false. В числовом контексте – в значение NaN, а в строковом –
в строку "undefined".</p>