<p>Числа – это основной тип данных, не требующий особых пояснений. JavaScript
отличается от таких языков программирования, как C и Java, тем, что не делает
различия между целыми и вещественными значениями. Все числа в JavaScript
представляются 64-разрядными вещественными значениями (с плавающей точкой).</p>
<p>Помимо основных арифметических операторов JavaScript поддерживает выполнение более сложных математических операций с помощью
большого количества математических функций, относящихся к базовой части
языка. Для удобства эти функции хранятся в виде свойств одного объекта <strong>Math</strong>,
и для доступа к ним всегда используется литеральное имя <strong>Math</strong>.</p>
<p>В JavaScript определено несколько специальных числовых значений. Когда вещественное число превышает самое большое представимое конечное значение,
результату присваивается специальное значение бесконечности, которое в JavaScript обозначается как <strong>Infinity</strong>. А когда отрицательное число становится меньше наименьшего представимого отрицательного числа, результатом является
отрицательная бесконечность, обозначаемая как <strong>-Infinity</strong>.
Еще одно специальное числовое значение возвращается JavaScript, когда математическая операция (например, деление нуля на ноль) приводит к неопределенному результату или ошибке. В этом случае результатом является специальное значение «нечисло», обозначаемое как <strong>NaN</strong>(Not a Number) ведет
себя необычно: оно не равно ни одному другому числу, в том числе и самому себе, Поэтому для проверки на это значение имеется специальная функция
<strong>isNaN()</strong>.</p>