<h2>Тип 'об`єкт' — Object</h2>

<p>Об'єкт - це колекція іменованих значень, які називають властивостями (properties) об'єкта. Властивості об'єктів багато в чому схожі на змінні: вони можуть містити будь-який тип даних, включаючи масиви, функції та інші об'єкти.</p>

<p>Об'єкти в JavaScript можуть виступати в якості асоціативних масивів, тобто асоціювати довільні значення з довільними рядками. При такій роботі з об'єктом використовується спеціальний синтаксис для доступу до властивостей: рядок, що містить ім'я потрібної властивості, записується всередині квадратних дужок:</p>

<pre>someObj['someProperty']</pre>

