<p>Объект – это коллекция именованных значений, которые обычно называют свойствами (properties) объекта. Свойства объектов во многом похожи на переменные – они могут содержать любой тип данных, включая массивы, функции и другие объекты.</p>
<p>Объекты в JavaScript могут выступать в качестве ассоциативных массивов, т. е.
могут ассоциировать произвольные значения с произвольными строками. При
такой работе с объектом обычно требуется другой синтаксис для доступа к его
свойствам: строка, содержащая имя требуемого свойства, заключается в квадратные скобки. <code>someObj['method']</code></p>