<h2>Тип регулярного виразу — RegExp</h2>
<p>Регулярні вирази — це синтаксис опису текстових шаблонів, який дає додаткові методи обробки тексту. Регекспи застосовуються для знаходження у тексті відповідностей по шаблону з подальшим пошуком і заміною рядків.</p>
<p>Регулярні вирази представлені в JavaScript об'єктом <strong>RegExp</strong> і можуть створюватися за допомогою конструктора <strong>RegExp()</strong>. Приклади регулярних виразів:</p>
<pre>/^HTML/</pre>
<pre>/[1-9][0-9]*/</pre>
<p>TODO: Перехід до теми: регулярні вирази.</p>
