<h2>Спеціальні види об'єктів</h2>

<p>Крім <a href="#dataTypes/function">функцій</a> і <a href="#dataTypes/array">масивів</a> в базовій мові JavaScript визначено ще кілька спеціальних видів об'єктів. Ці об'єкти являють собою не нові типи даних, а лише класи об'єктів.</p>

<p>Клас <a href="#dataTypes/date">Date</a> визначає об'єкти, що представляють дати, клас <a href="#dataTypes/regexp">RegExp</a> – об'єкти, регулярних виразів, а класс <a href="#dataTypes/error">Error</a> – об'єкти, що представляють синтаксичні помилки і помилки часу виконання.</p>