<p>Строка представляет собой это последовательность из нуля или более Unicode символов, заключенная в одинарные или двойные кавычки (' или ").</p>
<code>'Simple "' + [variable] + '" line'</code>
<p>Символ обратного слэша (\) имеет специальное назначение в строках.
Вместе с символами, следующими за ним, он обозначает символ, не представимый внутри строки другими способами. Например, <code>\n</code> – это управляющая последовательность (escape sequence), обозначающая символ перевода строки.
Другой пример – это последовательность <code>\'</code>, обозначающая символ одинарной кавычки. Эта управляющая последовательность необходима для включения символа одинарной кавычки в строковый
литерал, заключенный в одинарные кавычки.</p>
<code>'I can\'t believe!'</code>
<h3>Функции для работы со строками</h3>
<p>Одной из встроенных возможностей JavaScript является <strong>способность конкатенировать строки</strong>. Если оператор <code>+</code> применяется к числам, они складываются, а если к строкам, они объединяются.</p>
<code>"Hello, " + "world"</code>
<p>Для определения длины строки – количества содержащихся в ней символов – используется свойство <strong>length</strong>. <code>str.length</code></p>

<p><code>str.charAt([index])</code> - вернет символ с индексом <strong>index</strong></p>
<p><code>str.substring([m], [n])</code> - вернет подстроку, начиная с позиции <strong>m</strong> до, но не включая <strong>n</strong></p>
<p><code>str.substr([m], [size])</code> - вернет подстроку, начиная с позиции <strong>m</strong> и заканчивает, когда соберет <strong>size</strong> или дойдет до конца строки</p>
<p><code>str.indexOf([symbol])</code> - вернет индекс сивола</p>
<h3>Преобразование чисел в строки и наоборот</h3>
<p>Преобразование чисел в строки производится автоматически, по мере необходимости. Например, если число используется в операции конкатенации строк, оно
будет преобразовано в строку:
<code>var num = 100;</code>
<code>var str = n + " items.";</code>
На практике часто чтобы преобразовать число в строку, нужно просто сложить его с пустой строкой:
<code>var n_as_string = n + "";</code>
Для явного преобразования числа в строку используется функция <strong>String()</strong>:
<code>var string_value = String(number);</code>
Еще один способ преобразования числа в строку заключается в вызове метода <strong>toString()</strong>:
<code>string_value = number.toString( );</code>
Метод toString() объекта Number (примитивы чисел автоматически преобразуются в объекты типа Number, благодаря чему можно воспользоваться этим методом)
может принимать один необязательный аргумент, который определяет базу,
или основание, системы счисления для преобразования. Если основание системы счисления не указывается, по умолчанию она предполагается равной 10.</p>
<p>Когда строка используется в числовом контексте, она автоматически преобразуется в число. <code>'10' * '10'</code></p>
<p>На практике часто чтобы преобразовать строку в число, нужно просто вычесть из строки значение 0: <code>var n = str - 0;</code></p>

