<h3>Decorator</h3>
<p>При использовании шаблона
декораторов дополнительную функцио
нальность можно добавлять к объекту динамически во время выпол
нения.</p>
<p>Важной особенностью шаблона
декораторов является возможность его
использования для определения желаемого поведения объектов. Имея
простой объект, обладающий некоторой базовой функциональностью,
вы можете выбирать из множества доступных декораторов те, которы
ми желательно было бы расширить этот простой объект, и в каком по
рядке, если порядок имеет значение.</p>
<p>Классический пример Декоратора, — это какой-нибудь класс, рисующий прямоугольник, с добавлением декораторов, которые рисуют рамки, заливают цветом или изображением. Причем, применение декоратора, рисующего рамку дважды, нарисует двойную рамку.</p>
<p>Или другой пример, это реализация продажи товаров, через интернет-магазин при которой базовая стоимость товара формируется(декорируется), в зависимости от перевозчика(FedEx, НоваяПочта, УкрПочта).</p>