<h3>Façade</h3>
<p>Предоставляет альтернатив
ный интерфейс для объекта.</p>
<p>При проектировании считается хорошей
практикой делать методы короткими и не выполнять в них слишком
большое количество операций. Следуя такой практике, вы будете по
лучать большее количество методов, чем в случае реализации супер ме
тодов с большим количеством параметров. Бывает, что два или более
методов часто вызываются вместе. В подобных ситуациях есть смысл
создать новый метод, обертывающий повторяющуюся комбинацию вы-
зовов других методов.</p>
<p>Например, для обработки событий в броузерах часто используются сле
дующие методы:</p>
<ul>
	<li><code>stopPropagation()</code><br />Используется в обработчиках событий, чтобы запретить дальней
шее всплытие события вверх по дереву DOM.</li>
	<li><code>preventDefault()</code><br />Запрещает выполнение действий, предусмотренных по умолчанию
(например, переход по ссылке или отправку формы).</li>
</ul>
<p>Это два совершенно разных метода, выполняющих разные задачи, и они
должны существовать отдельно, но в то же время они часто вызыва
ются друг за другом. Поэтому, чтобы не повторять вызовы этих двух
методов снова и снова, можно создать фасадный метод, который будет
вызывать их</p>
<p>
	<code>var myevent = {</code>
	<br />
	<code>&nbsp;&nbsp;stop: function (e) {</code>
	<br />
	<code>&nbsp;&nbsp;&nbsp;&nbsp;e.preventDefault();</code>
	<br />
	<code>&nbsp;&nbsp;&nbsp;&nbsp;e.stopPropagation();</code>
	<br />
	<code>&nbsp;&nbsp;}</code>
	<br />
	<code>};</code>
</p>
<p>Шаблон
фасада также удобно использовать при перепроектировании
интерфейсов и реорганизации программного кода. Чтобы изменить реа
лизацию объекта, может потребоваться некоторое время (предполагает
ся, что речь идет о сложном объекте). В это же время может разрабаты
ваться новый программный код, использующий этот объект. Вы можете
сначала продумать новый интерфейс объекта и создать фасад для старо
го объекта, имитирующий новый интерфейс. При таком подходе, когда
вы полностью замените старый объект новым, вам не придется вносить
существенные изменения в программный код, использующий этот объ
ект, так как он уже будет использовать обновленный интерфейс.</p>