<h3>Factory</h3>
<p>Призначення фабрики в тому, щоб створювати об'єкти. Цей шаблон зазвичай реалізується у вигляді класів або у вигляді статичних методів класів</p>
<ul>
	<li>Виконання повторюваних операцій, необхідних при створенні схожих об'єктів</li>
	<li>Запропонувати користувачам фабрики спосіб створення об'єктів без необхідності знати їх тип (клас) на етапі компіляції</li>
</ul>
<p>Об'єкти, які створюються фабричним методом (або класом), зазвичай успадковують один і той же батьківський об'єкт; вони є підкласами, що реалізують спеціалізовані функціональні можливості. Іноді спільним предком є той же клас, який містить фабричний метод.</p>
<p>Застосування: Створення об'єктів, що мають однаковий інтерфейс. Наприклад, фабрика, яка створює об'єкти типу Car, що мають однакові властивості color, model, carBody etc.</p>