<h3>Factory</h3>
<p>Назначение фабрики в том, чтобы создавать объекты. Этот шаблон
обычно реализуется в виде классов или в виде статических методов
классов</p>
<ul>
	<li>Выполнение повторяющихся операций, необходимых при создании
похожих объектов</li>
	<li>Предложить пользователям фабрики способ создания объектов без
необходимости знать их тип (класс) на этапе компиляции</li>
</ul>
<p>Объекты, создаваемые фабричным методом (или классом), обычно на
следуют один и тот же родительский объект; они являются подкласса
ми, реализующими специализированные функциональные возможно
сти. Иногда общим предком является тот же класс, который содержит
фабричный метод.</p>
<p>Применение: Создание объектов имеющих одинаковый интерфейс. Например, фабрика которая создает объекты типа Car содержащие одинаковые свойства color, model, carBody etc.</p>