<h3>The Iterator Pattern</h3>
<p>Шаблон
итератора применяется, когда имеется объект, содержащий
совокупность данных. Эти данные могут храниться в виде сложной
структуры, а вам необходимо обеспечить удобный доступ к каждому
элементу этой структуры. Пользователи вашего объекта не обязаны
знать, как организованы ваши данные, – им необходим доступ к от
дельным элементам.</p>
<p>Объект, реализующий шаблон
итератора, должен предоставить метод
next(). При последующем обращении метод next() должен вернуть сле
дующий элемент, и только вам решать, что означает понятие «следую
щий» для вашей конкретной структуры данных.</p>