<h3>Mediator</h3>
<p>Посредник</p>
<p>Приложения – большие и маленькие – состоят из отдельных объектов.
Все эти объекты должны взаимодействовать друг с другом способом,
который не усложнял бы сопровождение программного кода и позво
лял бы изменять одну часть приложения, не оказывая отрицательного
влияния на другую. По мере развития приложения в него добавляется все больше и больше объектов. Затем в процессе реорганизации объ
екты могут удаляться и перегруппировываться. Когда объекты знают
друг о друге слишком много и взаимодействуют напрямую (вызывают
методы друг друга и изменяют значения свойств), это приводит к об
разованию нежелательной тесной связи между ними. Когда объекты
слишком тесно связаны, становится сложнее изменять их так, чтобы
не оказать влияния на другие объекты. Тогда внесение даже простей
ших изменений превращается в нетривиальную задачу, и становится
практически невозможным оценить время, необходимое на внесение
изменений.</p>
<p>Применение шаблона
посредника (mediator) упрощает подобные си
туации, способствуя ослаблению связей и помогая повысить удобство
сопровождения. Использование этого шаблона
исключает
прямые взаимодействия между независимыми объектами (коллегами)
за счет введения объекта-посредника. Когда какой-либо из объектов
коллег изменяет свое состояние, он извещает об этом посредника, а по
средник сообщает об изменениях всем остальным коллегам, которые
должны знать об этом</p>
<p>Пример: В системе имеются пользователи, необходимо наладить между ними общение, например в виде чата.</p>
<p>Еще один пример применени — виджеты (кнопки, списки, текстовые поля и т.д.) пользовательского интерфейса программы. Например, при выборе какого-то значения в выпадающем списке это значение должно отобразиться в текстовом поле, и наоборот — после ввода текста в текстовое поле, значение должно автоматически выбраться в выпадающем списке. Если перенести этот пользовательский интерфейс на другое приложение, где виджеты будут взаимодействовать по-другому, придется изменять код, отвечающий за взаимодействие между виджетами. При большом количестве зависимостей этот код будет “размазан” по множеству классов, а на его перенастройку уйдет много времени. Решение проблемы — инкапсулировать способ взаимодействия множества объектов (поведение) в одном классе, в этом и заключается суть паттерна Посредник.</p>