<h3>Простір імен</h3>
<p>Простори назв допомагають зменшити кількість глобальних змінних, необхідних нашим програмам, і одночасно уникнути конфліктів імен та надмірного вживання префіксів.</p>
<p>Замість того щоб засмічувати глобальний простір імен великою кількістю функцій, об'єктів та інших змінних, можна створити один (в ідеалі тільки один) глобальний об'єкт, який буде служити простором імен для програми або бібліотеки.</p>
<p>Простий приклад використання:</p>
<p>
	<code>var App = {};</code>
	<br />
	<code>App.someMethod = function(){/*...*/};</code>
	<br />
	<code>App.var_a = 1;</code>
	<br />
	<code>App.modules = {};</code>
	<br />
	<code>App.modules.someChildModule = {};</code>
</p>
<p>Універсальна функція для створення простору імен</p>
<p>
	<code>var App = App || {};</code>
	<br />
	<code>App.namespace = function (ns_string) {</code>
	<br />
	<code>&nbsp;&nbsp;var parts = ns_string.split('.'),</code>
	<br />
	<code>&nbsp;&nbsp;&nbsp;&nbsp;parent = MYAPP, i;</code>
	<br />
	<code>&nbsp;&nbsp;if (parts[0] === “MYAPP”) parts = parts.slice(1);</code>
	<br />
	<code>&nbsp;&nbsp;for (i = 0; i < parts.length; i++){</code>
	<br />
	<code>&nbsp;&nbsp;&nbsp;&nbsp;if (typeof parent[parts[i]] === 'undefined') parent[parts[i]] = {};</code>
	<br />
	<code>&nbsp;&nbsp;&nbsp;&nbsp;parent = parent[parts[i]];</code>
	<br />
	<code>&nbsp;&nbsp;}</code>
	<br />
	<code>&nbsp;&nbsp;return parent;</code>
	<br />
	<code>};</code>
</p>
<p>Використання:</p>
<p>
	<code>// привласнювати значення, що повертається локальній змінній</code>
	<br />
	<code>var module2 = App.namespace('App.modules.module2');</code>
	<br />
	<code>App.namespace('modules.module51');</code>
</p>