<h3>Observer</h3>
<p>Шаблон
наблюдатель (observer) широко применяется при разработке
клиентских сценариев на JavaScript.
Все события, возникающие в браузерах
(mouseover, keypress и другие), являются примерами реализации
этого шаблона.
Этот шаблон
иногда называют механизмом собственных
событий, то есть событий, которые возбуждаются программно,
в отличие от тех, что возбуждаются броузером. Еще одно название этого
шаблона
– подписчик/издатель.</p>
<p>Основная идея шаблона
состоит в ослаблении связи между объектами.
Вместо вызова одним объектом метода другого объекта некоторый объ
ект подписывается на получение извещений об определенных событи
ях от другого объекта. Подписчик также называется наблюдателем,
а объект, за которым ведется наблюдение, называется издателем, или
объектом наблюдения. Издатель оповещает (вызывает) всех подписчи
ков о наступлении какого-то важного события, и часто сообщение пере
дается им в форме объекта события.</p>
<p>Еще пример приминения, - допустим, есть таблица, в которую пользователь может вносить информацию о курсе валют на текущий момент, 
и где-то в приложении, на основе данных из этой таблицы, строится 3 графика, которые визуализируют изменения курса валют. После того, как пользователь установит курс валют на текущее время, должны измениться все графики.</p>