<h3>Приватні властивості і методи</h3>
<p>В JavaScript немає спеціальних засобів оголошення приватних (private), захищених (protected) або загальнодоступних (public) властивостей та методів. Всі члени об'єктів в є загальнодоступними.</p>
<p>Щоб забезпечити приховування даних, їх необхідно обгорнути функцією. Так, в разі літералів об'єктів замикання можна створити за допомогою додаткової анонімної функції, що викликається негайно.</p>
<p>
	<code>var myobj = (function () {</code>
	<br />
	<code>&nbsp;&nbsp;var private = “some text”;</code>
	<br />
	<code>&nbsp;&nbsp;return { // public</code>
	<br />
	<code>&nbsp;&nbsp;&nbsp;&nbsp;getPrivate: function () {</code>
	<br />
	<code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return private;</code>
	<br />
	<code>&nbsp;&nbsp;&nbsp;&nbsp;}</code>
	<br />
	<code>&nbsp;&nbsp;};</code>
	<br />
	<code>}());</code>
	<br />
	<code>myobj.getPrivate(); // some text</code>
</p>