<h3>Proxy</h3>
<p>В шаблоне
прокси-объекта (промежуточного объекта) один объект игра
ет роль интерфейса другого объекта. Этот шаблон
отличается от шаблона
фасада, где все, что от вас требуется, – это создать удобные методы,
объединяющие в себе вызовы других методов. Промежуточный объект
располагается между пользовательским программным кодом и объек-
том и регулирует доступ к этому объекту.</p>
<p>Промежуточный
объект служит защитником основного объекта и стремится максимально уменьшить ко
личество обращений к действительному объекту.</p>
<p></p>