<h3>Strategy</h3>
<p>Шаблон
стратегии позволяет выбирать тот или иной алгоритм во время
выполнения. Пользователи вашего программного кода могут работать
с одним и тем же интерфейсом и выбирать из множества доступных алгоритмов тот, который лучше подходит для решения определенной за
дачи в зависимости от сложившихся условий.</p>
<p>Примером использования шаблона
стратегии может служить решение
проблемы проверки полей формы. Вы можете определить единствен
ный объект, выполняющий проверку, с методом validate(). Этот метод
будет вызываться независимо от конкретного типа формы и всегда воз
вращать один и тот же результат – список данных, не прошедших про
верку, и сообщения об ошибках.</p>
<p>Но в каждом конкретном случае, в зависимости от формы и проверяе
мых данных, пользователи вашего объекта, реализующего проверку,
смогут выбирать различные виды проверок. Ваш объект будет выби
рать лучшую стратегию решения задачи и делегировать выполнение
проверок конкретных данных соответствующим алгоритмам.</p>
<p>Другой пример приминения паттерна - это библиотека Passport.js, которая предоставляет простой способ управления аутентификацией в NodeJs. Она поддерживает большое число провайдеров (Facebook, Twitter, Google и др.), каждый из которых представлен в виде отдельной стратегии.</p>
<p>Еще один пример простого использования - это отображение нотификаций(window.alert, console, ligthbox etc.)</p>