<h2>Регулярні вирази</h2>

<h3>TODO: Значення спеціальних символів</h3>
<p>Спеціальні символи використовуються в:</p>
<ul>
	<li>
		<p><strong>Символьні класи</strong>:<br />
			
		</p>
	</li>
	<li>
		<p><strong>Символьні набори</strong>:<br />
			
		</p>
	</li>
	<li>
		<p><strong>Межі слів</strong>:<br />
			
		</p>
	</li>
	<li>
		<p><strong>Групування та зворотні посилання</strong>:<br />
			
		</p>
	</li>
	<li>
		<p><strong>Квантифікаторы</strong>:<br />
			
		</p>
	</li>
</ul>

<p>Посилання: https://developer.mozilla.org/en/docs/Web/JavaScript/Guide/Regular_Expressions</p>