<p>Регулярные выражения - это паттерны, используемые для поиска совпадений комбинаций символов в строках. В JavaScript регулярные выражения также являются объектами.</p>
<p>Для поиска соответствий паттерну используются методы как объекта RegExp, так и объекта String.</p>
<h3>Объект RegExp</h3>
<p>Создает объект регулярного выражения для определения соответсвия текста паттерну.</p>
<p>Синтаксис: <br /> 
	<code>/pattern/flags</code><br />
	<code>new RegExp(pattern[, flags])</code>
</p>
<p>где, <code>pattern</code> - текст регулярного выражения (паттерн) <br /> <code>flags</code> - опциональные параметры, используемые для настройки поиска в подстроке.</p>
<p>Пример испсользования: <br />
	<code>var regexp = /pattern/;</code><br />
	<code>var regexp = /pattern/gim;</code><br />
	<code>var regexp = new RegExp('pattern');</code><br />
	<code>var regexp = new RegExp('pattern', 'gim');</code>
</p>

<p><strong>Паттерн</strong><br />Шаблон (паттерн) регулярного выражения состоит из простых символов, таких как <code>/abc/</code> или комбинации простых и специальных символов, таких как <code>/ab*c/</code> или <code>/Chapter (\d+)\.\d*/</code>. Последний пример включает в себя скобки, которые используются в качестве запоминающего способа, т.е. найденное совпадение запоминается для последующего использования.</p>
<p><strong>Флаги</strong><br />Регулярные выражения могут иметь флаги (параметры), которые влияют на поиск: <br />
	<code>i</code> - Чувствительность к регистру. Если этот флаг есть, то регэксп ищет независимо от регистра, то есть не различает между А и а. <br />
	<code>g</code> - Глобальный поиск. Если этот флаг есть, то регэксп ищет все совпадения, иначе — только первое. <br />
	<code>m</code> - Многострочный поиск.
</p>

<h4>Создание регулярного выражения</h4>
<p>Существует 2 способа создания объекта RegExp:</p>
<ol>
	<li>С помощью <strong>литерала</strong>:
		<p>
			<code>var re = /ab+c/;</code><br />
			Литерал предоставляет компиляцию регулярного выражения, когда скрипт загружается. Т.е. регулярное выражение всегда статично. Для определения не используются кавычки, также используется для лучшей производительности.
		</p>
	</li>
	<li>С помощью <strong>функции-конструктора RegExp</strong>:
		<p>
			<code>var re = new RegExp("ab+c");</code><br />
			Коструктор предоставляет компиляцию регулярного выражения во время выполнения. Используется когда регулярное выражение может меняться либо паттерн не известен и может быть получен из другого источника, такого как пользовательский ввод.
		</p>
	</li>
</ol>